@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fin Reset Meyer */

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	width: 1100px;
	margin: auto;
}
input {
	font-family: 'Lato', sans-serif;
}
body h1 {
	font-size: 2em;
	margin-bottom: .5em;
}
body h2 {
	font-size: 1.8em;
	margin-top: 1em;
	margin-bottom: .5em;
}
body p {
	margin-bottom: .5em;
	line-height: 1.3em;
}
header, footer {
	background-color: #333;
	color: #fff;
	font-size: 30px;
	/*font-weight: bold;*/
	padding: 10px;
}
strong {
	font-weight: 900;
}
header p {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 13px;
}
#logo {
	display: block;
	width: 300px;
	height: 78px;
	background-image: url('/img/logo.png');
	background-repeat: no-repeat;
	margin: 0;
	text-indent: -500px;
	overflow: hidden;
}
ul.menu {
	font-size: 0;
	background-color: #222;
	height: 40px;
	overflow: visible;
}
li.menu {
	float: left;
	position: relative;
}
li.menu .item {
	min-width: 30px; 
	display: block;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	width: 140px;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	min-height: 30px;
	max-height: 30px;
	text-align: left;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	vertical-align: top;
}
li.menu.home a {
	width: 0;
	background-color: #333;
	border-color: #111;
}
li.menu.stats a {
	background-color: #d24e33;
	border-color: #7e2516;
}
li.menu.info a {
	background-color: #f1aa41;
	border-color: #be770e;
}
li.menu.about a {
	background-color: #339933;
	border-color: #006633;
}
li.menu.news > a {
	background-color: #3399CC;
	border-color: #006699;
}
li.menu.search .item {
	cursor: default; 
	background-color: #8b4163;
	border-color: #58110e;
	width: 440px;
	overflow: hidden;
}
.m_desc {
	background-color: #f7f7cf;
	width: 300px;
	position: absolute;
	left: 0;
	top: 45px;
	height: 0px;
	-webkit-transition: height .2s ease;
	   -moz-transition: height .2s ease;
	    -ms-transition: height .2s ease;
	        transition: height .2s ease;
	font-size: 12px;
	overflow: hidden;
}
li.menu:hover > .m_desc {
	height: 30px;
	border-width: 0px 1px 1px 1px;
	border-color: black;
	border-style: solid;
	z-index: 100;
	padding: 5px;
	box-shadow: 1px 1px 3px 1px #888;
}

/* FOOTER */
footer {
	font-size: 11px;
	height: auto;
	margin-top: 10px;
}
footer ul {
	list-style: none;
	padding: 0;
/*	-moz-column-count:6;
	-webkit-column-count:6;
	column-count:6;
	-moz-column-gap:10px; 
	-webkit-column-gap:10px;
	column-gap:10px;
	-moz-column-rule:1px outset #fff;
	-webkit-column-rule:1px outset #fff;
	column-rule:1px outset #fff;*/
}
footer li {
	height: 15px;
	width: 120px;
	font-size: 0;
	border-left: 1px solid #fff;
	padding-left: 5px;
}
footer li a {
	font-size: 11px;
}
footer li.c1 {
	margin-left: 0;
}
footer li.c2 {
	margin-left: 130px;
}
footer li.c3 {
	margin-left: 260px;	
}
footer li.c4 {
	margin-left: 390px;
}
footer li.c5 {
	margin-left: 520px;
}
footer li.c6 {
	margin-left: 650px;
}
footer li.top {
	margin-top: -135px;
}
footer a {
	text-decoration: none;
	color: #fff;
}
footer ul a {
	padding: 1px;
	display: inline-block;
	width: 100%;
	border-radius: 2px;
}
footer ul a:hover{
	/*text-decoration: underline;
	font-weight: bold;*/
	background-color: #fff;
	color: #333;
}
#followme {
	margin-top: 10px;
	height: 20px;
}
.footer_section {
	display: inline-block;
	height: 200px;
}
.footer_section.about {
	width: 250px;
}
.footer_section.about p {
	margin-top: 10px;
}
.footer_section.about a {
	text-decoration: underline;
}
.footer_section.all_provinces {
	width: 790px;
	float: right;
}
#content {
	background-color: #fff;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
}
/* Miga de pan */
#breadcrumb {
	color: #fff;
	height: 30px;
	width: 730px;
	float: right;
}
#breadcrumb a, #breadcrumb span {
	display: inline-block;
	float: left;
	text-decoration: none;
	color: #fff;
}
#breadcrumb .bc {
	font-size: .8em;
	height: 16px;
	padding: 4px 10px 2px 4px;
	background-color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 250px;
}
#breadcrumb .bc:hover {
	color: #ccc;
}


#textcontent {
	padding: 30px;
/*	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	-moz-column-gap:10px;
	-webkit-column-gap:10px;
	column-gap:10px;*/
}
#user {
	padding: 4px;
	font-size: 12px;
	float: right;
	border: 1px solid #ccc;
}
#user .avatar {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	padding-bottom: 2px;
	width: 50px;
	height: auto;
}
#user a {
	display: block;
	width: 50px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
#logout:after {
	content: " \2716";
}

/* Formulario de búsqueda */
.menu.search input[type=search] {
	font-size: 13px;
	outline: none;
	border: none;
	width: 355px;
	height: 20px;
	margin: 5px;
}
.place {
	min-height: 40px;
}
#destiny {
	margin-top: 5px;
}
.menu.search .item {
	position: absolute;
	z-index: 200;
	-webkit-transition: max-height .4s;
	   -moz-transition: max-height .4s;
	    -ms-transition: max-height .4s;
	     -o-transition: max-height .4s;
	        transition: max-height .4s;
}
.menu.search.enabled .item {
	max-height: 400px;
	box-shadow: 0 5px 5px 1px rgba(0,0,0,.4);
}
.sprt.search_icon, .sprt.directions {
	float: left;
	border: 1px solid #8b4163;
	padding: 1px;
}
.sprt.search_gps {
	margin: 5px;
	cursor: pointer;
	float: right;
	opacity: 0;
	-webkit-transition: opacity .2s;
	   -moz-transition: opacity .2s;
	    -ms-transition: opacity .2s;
	     -o-transition: opacity .2s;
	        transition: opacity .2s;
}
.menu.search:hover .sprt.search_gps {
	opacity: 1;
}
.menu.search:hover .sprt.search_gps:hover {
	opacity: .8;
}
.loader {
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	margin-top: 8px;
	float: right;
	background-image: url('/img/loader.gif');
}
.menu.search form {
	width: 395px;
	margin-left: 5px;
	display: inline-block;
	min-height: 30px;
	border-radius: 5px;
	background-color: #fff;
}
#search-options {
	padding: 10px;
	font-size: 12px;
	height: 30px;
}
.results {
	font-size: .9em;
	z-index: 300;
	max-height: 180px;
	overflow-y: auto;
	background-color: #fff;
}
.results li {
	cursor: pointer;
	list-style: none;
	padding: 5px;
	padding-left: 20px;
	color: #ccc;
	border-top: 1px solid #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.results li:hover {
	color: #333;
}
.sprt.directions {
	float: left;
	border-color: #fff;
	cursor: pointer;
	border-style: solid;
}
.sprt.directions:hover {
	opacity: .7;
}
.sprt.directions.on {
	border-color: #fff;
	color: #fff;
	background-color: #58110e;
}
#search-form-dest {
	opacity: .3;
}
.on + #search-form-dest {
	opacity: 1;
}
.menu.search .button {
	width: 100px;
	height: 16px;
	float: right;
	padding: 5px;
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(0,0,0,.2);
	background-color: rgba(255,255,255,.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.3);
	text-align: center;
	cursor: pointer;
	float: right;
}
.menu.search .button:hover {
	opacity: .8;
}
.menu.search .button:active {
	background-color: rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
}

/* my-slider */
.my-slider {
	border: 1px solid #fff;
	width: 250px;
	height: 25px;
	background: #8b4163;
	cursor: pointer;
	background-position: bottom;
	background-image: url('/img/rule.png');
	background-repeat: repeat-x;
	float: left;
	overflow: hidden;
	margin-left: 25px;
}
.middle {
	padding: 10px;
	font-size: .9em;
}
.helper {
	margin-left: 28px;
	padding: 5px;
	color: #ccc;
	font-size: .8em;
}
.my-slider .bar {
	background-color: #622D46;
	background: rgba(98,45,70,.5);
	color: #fff;
	height: 50px;
	border-right: 1px solid #ccc;
	overflow: visible;
	white-space: nowrap;
}
/* Clearer */
.clearer:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

/* PANELES DE PRECIOS */
.price .back {
	position: relative;
	width: .6em;
	float: left;
	margin: 0;
	text-align: right;
	color: #333;
}
.back .digit {
	width: 100%;
	position: absolute;
	color: #fff;
	top: 0;
	left: 0;
}
.price .back.point {
	width: .1em;
	height: 1em;
}
/* sprites */
.arrow {
	position: absolute;
	top: 0;
	left: 10px;
}
.sprt {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/img/sprt.png);}

.a_cards {width:10px; height:5px; background-position: -2px -2px}
.a_home {width:10px; height:5px; background-position: -14px -2px}
.a_info {width:10px; height:5px; background-position: -26px -2px}
.a_news {width:10px; height:5px; background-position: -38px -2px}
.a_search {width:10px; height:5px; background-position: -50px -2px}
.a_stats {width:10px; height:5px; background-position: -2px -9px}
.arrow_white {width:10px; height:5px; background-position: -14px -9px}
.breadcrumb {width:26px; height:22px; background-position: -26px -9px}
.clock_med {width:20px; height:20px; background-position: -2px -33px}
.clock_new {width:20px; height:20px; background-position: -24px -33px}
.clock_old {width:20px; height:20px; background-position: -2px -55px}
.directions {width:25px; height:25px; background-position: -24px -55px}
.ic_audio {width:20px; height:20px; background-position: -2px -82px}
.ic_captcha {width:15px; height:13px; background-position: -24px -82px}
.ic_content {width:15px; height:13px; background-position: -41px -82px}
.ic_email {width:15px; height:13px; background-position: -2px -104px}
.ic_help {width:20px; height:20px; background-position: -19px -104px}
.ic_image {width:20px; height:20px; background-position: -41px -104px}
.ic_link {width:15px; height:13px; background-position: -2px -126px}
.ic_name {width:15px; height:13px; background-position: -19px -126px}
.ic_points {width:15px; height:13px; background-position: -36px -126px}
.ic_reload {width:20px; height:20px; background-position: -2px -141px}
.ic_star {width:15px; height:13px; background-position: -24px -141px}
.ic_title {width:20px; height:20px; background-position: -41px -141px}
.layers {width:25px; height:25px; background-position: -2px -163px}
.locate {width:20px; height:20px; background-position: -29px -163px}
.logo_fb {width:30px; height:30px; background-position: -2px -190px}
.logo_fs {width:30px; height:30px; background-position: -2px -222px}
.logo_gp {width:30px; height:30px; background-position: -2px -254px}
.logo_tt {width:30px; height:30px; background-position: -2px -286px}
.m_about {width:25px; height:25px; background-position: -34px -286px}
.m_cards {width:25px; height:25px; background-position: -2px -318px}
.m_home {width:25px; height:25px; background-position: -29px -318px}
.m_info {width:25px; height:25px; background-position: -2px -345px}
.m_news {width:25px; height:25px; background-position: -29px -345px}
.m_stats {width:25px; height:25px; background-position: -2px -372px}
.marker_blue {width:15px; height:15px; background-position: -29px -372px}
.marker_green {width:15px; height:15px; background-position: -46px -372px}
.marker_red {width:15px; height:15px; background-position: -2px -399px}
.p_city {width:20px; height:20px; background-position: -19px -399px}
.p_distance {width:20px; height:20px; background-position: -41px -399px}
.p_filter {width:20px; height:20px; background-position: -2px -421px}
.p_info {width:20px; height:20px; background-position: -24px -421px}
.p_pump {width:20px; height:20px; background-position: -2px -443px}
.pag_less {width:30px; height:30px; background-position: -24px -443px}
.pag_more {width:30px; height:30px; background-position: -2px -475px}
.pump {width:30px; height:30px; background-position: -2px -507px}
.pump_b {width:25px; height:25px; background-position: -34px -507px}
.pump_g {width:25px; height:25px; background-position: -2px -539px}
.pump_r {width:25px; height:25px; background-position: -29px -539px}
.pump_y {width:25px; height:25px; background-position: -2px -566px}
.search_gps {width:20px; height:20px; background-position: -29px -566px}
.search_icon {width:25px; height:25px; background-position: -2px -593px}
.sort {width:10px; height:20px; background-position: -29px -593px}
.sort_down-.sort {width:10px; height:20px; background-position: -41px -593px}
.sort_up-.sort {width:10px; height:20px; background-position: -41px -593px}
.star.soff {width:20px; height:20px; background-position: -2px -620px}
.star.son {width:20px; height:20px; background-position: -24px -620px}
.star_mini.soff {width:12px; height:12px; background-position: -46px -620px}
.star_mini.son {width:12px; height:12px; background-position: -2px -642px}
.the_best {width:35px; height:55px; background-position: -16px -642px}

/* Sprites logos */
.logo {width:30px; height:20px; position: absolute; left: 0; overflow:hidden; background-repeat: no-repeat;background-image:url(/img/logos/logos.png);}

.abycer {width:30px; height:20px; background-position: -2px -2px}
.agla {width:30px; height:20px; background-position: -34px -2px}
.alcampo {width:30px; height:20px; background-position: -66px -2px}
.an_energeticos {width:30px; height:20px; background-position: -98px -2px}
.andamur {width:30px; height:20px; background-position: -130px -2px}
.avia {width:30px; height:20px; background-position: -2px -24px}
.bonarea {width:30px; height:20px; background-position: -34px -24px}
.bp {width:30px; height:20px; background-position: -66px -24px}
.buquerin {width:30px; height:20px; background-position: -98px -24px}
.campsa {width:30px; height:20px; background-position: -130px -24px}
.carmoned {width:30px; height:20px; background-position: -2px -46px}
.carrefour {width:30px; height:20px; background-position: -34px -46px}
.cepsa {width:30px; height:20px; background-position: -66px -46px}
.empresoil {width:30px; height:20px; background-position: -98px -46px}
.eroski {width:30px; height:20px; background-position: -130px -46px}
.esclatoil {width:30px; height:20px; background-position: -2px -68px}
.galp {width:30px; height:20px; background-position: -34px -68px}
.gasolben {width:30px; height:20px; background-position: -66px -68px}
.otra {width:30px; height:20px; background-position: -98px -68px}
.iberdoex {width:30px; height:20px; background-position: -130px -68px}
.leclerc {width:30px; height:20px; background-position: -2px -90px}
.makro {width:30px; height:20px; background-position: -34px -90px}
.meroil {width:30px; height:20px; background-position: -66px -90px}
.norpetrol {width:30px; height:20px; background-position: -98px -90px}
.petrem {width:30px; height:20px; background-position: -130px -90px}
.petrocat {width:30px; height:20px; background-position: -2px -112px}
.petromiralles {width:30px; height:20px; background-position: -34px -112px}
.petronor {width:30px; height:20px; background-position: -66px -112px}
.ramell {width:30px; height:20px; background-position: -98px -112px}
.repostar {width:30px; height:20px; background-position: -130px -112px}
.repsol {width:30px; height:20px; background-position: -2px -134px}
.saras {width:30px; height:20px; background-position: -34px -134px}
.shell {width:30px; height:20px; background-position: -66px -134px}
.simply {width:30px; height:20px; background-position: -98px -134px}
.staroil {width:30px; height:20px; background-position: -130px -134px}
.tamoil {width:30px; height:20px; background-position: -2px -156px}
.valcarce {width:30px; height:20px; background-position: -34px -156px}
