@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
header, footer {
	background-color: #333;
	color: white;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
}
header {
	height: 80px;
	text-align: right;
}
header h1 {
	width: 385px;
	height: 100px;
	background-image: url('/img/logo.png');
	background-repeat: no-repeat;
	margin: 0;
	text-indent: 1000px;
	overflow: hidden;
}
nav {
	position: absolute;
	top: 0;
	right: 100px;
}
nav li {
	list-style: none;
	width: 200px;
	color: white;
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	height: 30px;
}
nav .menu > li {
	border-bottom-width: 10px;
	border-bottom-style: solid;
}
nav ul {
	padding: 0;
	font-size: 20px;
}
.menu_search {
	background-color: #2daddc;
	border-color: #176c8c;
}
.menu_stats, .menu_stats .submenu {
	background-color: #d24e33;
	border-color: #7e2516;
}
.menu_news {
	background-color: #f1aa41;
	border-color: #be770e;
}

.menu li {
	position: relative;
}
.submenu {
	left: 0;
	top: 50px;
	position: absolute;
	opacity: 0;
	-webkit-transition: all .5s;
}

.menu li:hover > .submenu {
	opacity: 1;
}

footer {
	font-size: 11px;
	height: auto;
}
footer ul {
	list-style: none;
	padding: 0;
	-moz-column-count:5; /* Firefox */
	-webkit-column-count:5; /* Safari and Chrome */
	column-count:5;
	-moz-column-gap:10px; /* Firefox */
	-webkit-column-gap:10px; /* Safari and Chrome */
	column-gap:10px;
	-moz-column-rule:1px outset white; /* Firefox */
	-webkit-column-rule:1px outset white; /* Safari and Chrome */
	column-rule:1px outset white;
}
footer a {
	text-decoration: none;
	color: white;
}
footer a:hover{
	text-decoration: underline;
	font-weight: bold;
}
.footer_section {
	display: inline-block;
}

#content {
	position: relative;
	width: 1000px;
}
#list {
	width: 600px;
	border: 1px dotted black;
	font-size: 11px;
	height: 600px;
	overflow-x: scroll; 
}
#filters {
	width: 400px;
	height: 80px;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px dotted black;
}
#ads {
	border: 1px solid black;
	width: 400px;
	height: 200px;
	position: absolute;
	right: 0;
	top: 400px;

}
#google_map {
	width: 400px;
	height: 300px;
	border: 1px dotted black;
	position: absolute;
	right: 0;
	top: 80px;
}



/* Filtros */
.T_G95 {
	background-color: #6699FF;
	color: white;
}
.T_G98 {
	background-color: #CC9933;
	color: white;
}
.T_GOA {
	background-color: #CC3333;
	color: white;
}
.T_NGO {
	background-color: #FFCC33;
	color: white;
}
.T_GOB {
	background-color: #FF9966;
	color: white;
}
.T_GOC {
	background-color: #00FF33;
	color: white;
}
.T_BIOD {
	background-color: #009933;
	color: white;
}
#fuel_type {
	list-style: none;
	padding: 0;
}
li.off {
	background-color: #bbb;
}
th {
	border-bottom: 1px dotted red;
	padding: 0;
	margin: 0;
}
th.off, td.off {
	display: none;
}
#table {
	margin-right: 10px;
}
#table td {
	border: 0;
}
#table a {
	text-decoration: none;
	color: black;
}
#table a:hover {
	text-decoration: underline;
}
#table th.on {
	padding-right: 15px;
	cursor: pointer;
}
#table tr:hover {
	font-weight: bold;
	background-color: #eee;
}
#table tr.off {
	display: none;
}
#fuel_type li {
	display: inline-block;
	width: 40px;
	border: 1px solid black;
	color: white;
	text-align: center;
	cursor: pointer;
}
col:hover {
	font-weight: bold;
}


