@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fin Reset Meyer */

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	width: 1100px;
	margin: auto;
}
body h1 {
	font-size: 1.6em;
	margin-top: 1em;
	margin-bottom: .5em;
}
body h2 {
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: .5em;
}
body p {
	margin-bottom: .5em;
}
header, footer {
	background-color: #333;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}

header p {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 13px;
}
header #logo {
	width: 300px;
	height: 80px;
	background-image: url('/img/logo.png');
	background-repeat: no-repeat;
	background-size: 300px;
	margin: 0;
	text-indent: 1000px;
	overflow: hidden;
}
ul.menu {
	font-size: 0;
	background-color: #222;
}
li.menu {
	display: inline-block;
	position: relative;

}
li.menu > .item {
	display: block;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	width: 120px;
	color: #fff;
	cursor: pointer;
	padding: 5px 5px 5px 35px;
	height: 30px;
	text-align: left;
	font-size: 14px;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #fff;
	background-position: 5px 5px;
	background-size: 25px;
}
li.menu.home a {
	background-color: #333;
	border-color: #111;
	width: 0;
	background-image: url('/img/m_home.png');
	text-indent: -1000px;
}
li.menu.stats a {
	background-color: #d24e33;
	border-color: #7e2516;
	background-image: url('/img/m_stats.png');
}
li.menu.info a {
	background-color: #f1aa41;
	border-color: #be770e;
	background-image: url('/img/m_info.png');
}
li.menu.cards a {
	background-color: #339933;
	border-color: #006633;
	background-image: url('/img/m_cards.png');
}
li.menu.news > a {
	background-color: #3399CC;
	border-color: #006699;
	background-image: url('/img/m_news.png');
}
li.menu.search .item {
	background-color: #8b4163;
	border-color: #58110e;
	width: 410px;
}
.description {
	background-repeat: no-repeat;
	background-color: #f7f7cf;
	width: 300px;
	background-position: 10px 0px;
	position: absolute;
	left: 0;
	top: 44px;
	height: 0px;
	-webkit-transition: height .2s;
	font-size: 12px;
	overflow: hidden;
}
li.menu:hover > .description {
	height: 30px;
	border-width: 0px 1px 1px 1px;
	border-color: black;
	border-style: solid;
	z-index: 100;
	padding: 5px;
	box-shadow: 1px 1px 3px 1px #888;
}
.description.home {
	background-image: url('/img/arrow_home.png');
}
.description.stats {
	background-image: url('/img/arrow_stats.png');
}
.description.info {
	background-image: url('/img/arrow_info.png');
}
.description.cards {
	background-image: url('/img/arrow_cards.png');
}
.description.news {
	background-image: url('/img/arrow_news.png');
}

/* FOOTER */
footer {
	font-size: 11px;
	height: auto;
	margin-top: 10px;
}
footer ul {
	list-style: none;
	padding: 0;
	-moz-column-count:5; /* Firefox */
	-webkit-column-count:5; /* Safari and Chrome */
	column-count:5;
	-moz-column-gap:10px; /* Firefox */
	-webkit-column-gap:10px; /* Safari and Chrome */
	column-gap:10px;
	-moz-column-rule:1px outset #fff; /* Firefox */
	-webkit-column-rule:1px outset #fff; /* Safari and Chrome */
	column-rule:1px outset #fff;
}
footer a {
	text-decoration: none;
	color: #fff;
}
footer a:hover{
	text-decoration: underline;
	font-weight: bold;
}
.footer_section {
	display: inline-block;
}

#content {
	background-color: #fff;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
}

#logout {
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 0;
}

/* Formulario de búsqueda */
.menu.search .item {
	width: 400px;
	padding-left: 5px;
	text-indent: 1000px;
}
.menu.search form {
	display: inline;
	position: absolute;
	top: 5px;
	left:5px;
}
.menu.search input {
	display: block;
	float: left;
}
.menu.search input[type=text] {
	width: 360px; 
	border: 0;
	padding: 3px;
	margin-left: 5px;
	color: #333;
	font-size: 16px;
}
.menu.search input[type=submit] {
	background:url('/img/search_icon.png');
	cursor:pointer;
	height:30px;
	width:30px;
	background-size: 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	border: 1px solid #58110e;
	border-radius: 3px;
}
.menu.search:hover #search-box {
	display: block;
}
#search-box {
	background-image: url('/img/arrow_search.png');
	background-position: 10px 0px;
	background-repeat: no-repeat;
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	z-index: 100;
	background-color: #8b4163;
	border-bottom: 5px solid #58110e;
	width: 400px;
	padding: 10px;
	font-size: 14px;
	color: #fff;
}
#search-options {
	padding: 5px;
	border-top: 1px dotted #fff;
	font-size: 12px;
}
#results-list {
	max-height: 200px;
	overflow: scroll;
	padding-bottom: 10px;
}
#results-list li {
	list-style: none;
	font-size: 14px;
	border-left: 5px solid #fff;
	margin-top: 1px;
}
#results-list li > a {
	display: block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
}
#results-list li > a:hover {
	background-color: #fff;
	color: #8b4163;
}
#results-list img {
	margin-left: auto;
	margin-right: auto;
}

/* my-slider */
.my-slider {
	border: 1px solid #fff;
	width: 180px;
	height: 20px;
	background-color: #8b4163;
	color: black;
	cursor: w-resize;
	background-position: bottom;
	background-image: url('/img/rule.png');
	background-repeat: repeat-x;
	padding: 2px;
	float: left;
}
.my-slider .val {
	background-color: #58110e;
	color: #fff;
	height: 20px;
	white-space: nowrap;
	padding: 2px;
	background-position: bottom;
	background-image: url('/img/rule.png');
	background-repeat: repeat-x;
}
.my-slider .new-val {
	background-color: pink;
	height: 20px;
	white-space: nowrap;
	padding: 2px;
}
#current-loc {
	padding: 2px;
	text-align: center;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 3px;
	background-image: url('/img/my_location.png');
	background-repeat: no-repeat;
	background-position: 2px 2px;
	width: 180px;
	height: 20px;
	float: right;
	text-align: center;
}
#current-loc:hover {
	background-color: #58110e;
}
#current-loc:active {
	background-color: pink;
}

.clearer:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}


