@font-face {
  font-family: 'digital-7';
  src: url('/font/digital-7.ttf');
}

#price_board {
	width: 300px;
	height: 600px;
	float: left;
	background-color: black;
}
#logo {
	font-size: 25px;
}
#price_board .section {
	display: none;
	border-bottom: 3px solid white;
	padding: 10px;
	height: 50px;
}
#price_board .sec_name {
	width: 120px;
	float: left;
}
#price_board .price {
	font-family: 'digital-7', sans-serif;
	font-size: 50px;
	width: 150px;
	float: right;
}

.T_G95 {
	color: #006633;
}
.T_G98 {
	color: #339933;
}
.T_GOA {
	color: #fff;
}
.T_NGO {
	color: #aaa;
}
.T_GOB {
	color: #CC3333;
}
.T_GOC {
	color: #FF3300;
}
.T_BIOD {
	color: #FFCC33;
}


#ads_top {
	width: 730px;
	height: 90px;
	background-color: red;
	margin-bottom: 10px;
}

#logo {
	background-color: white;
}


#detail {
	width: 730px;
	float: right;
}

#detail_info_fields {
	width: 50%;
	float: left;
}
#detail_info_fields .field_value {
	padding-left: 20px;
}
#google_map {
	width: 50%;
	height: 300px;
	float: right;
	top: 0;
	right: 0;
	margin-bottom: 20px;
}
#chart {
	width: 100%;
	height: 300px;
	clear: both;
}
#comments {
	width: 730px;
}
#comments textarea {
	width: 600px;
}

#user_data, #user_login {
	width: 45%;
}
#user_data input[type=text] {
	width: 90%;
}
#user_data {
float: left;
}
#user_login {
	float: right;
}
.login {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-size: 50px;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 5px;
}
.fb_login {
	background-color: #3B5B99;
	background-image: url('/img/fb_logo.png');
}
.tt_login {
	background-color: #00ACED;
	background-image: url('/img/tt_logo.png');
}
.gp_login {
	background-color: #DD4B39;
	background-image: url('/img/gp_logo.png');
}
.fs_login {
	background-image: url('/img/fs_logo.png');
}
#new_comment {
	clear: both;
	padding-top: 10px;
}
#c_points_div {
	display: inline-block;
}

#c_points {
	width: 40px;
	font-size: 30px;
	border: 0;
	text-align: right;
}
.star, .shit {
	cursor: pointer;
	background-size: 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	padding: 0;
	display: inline-block;
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	-ms-filter: grayscale(80%);
	-o-filter: grayscale(80%);
	filter: grayscale(80%);

}
.star.on {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
.star {
	background-image: url('/img/star.svg');
}
.star.shit {
	background-image: url('/img/shit.svg');
}
.comment {
	border-top: 2px solid black;
}
.comment .title {
	font-size: 1.2em;
}
#username {
	font-size: 1.5em;
}
.avatar {
	width: 50px;
	height: auto;
	float: left;
	margin-right: 10px;
}
#new_comment label {
	width: 35%;
	vertical-align: top;
	display: inline-block;
}
#new_comment input#c_title {
	font-size: 2em;
	padding: 5px;
	width: 60%;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#new_comment textarea {
	width: 60%;
	height: 120px;
	border: 1px solid #ccc;
	padding: 5px;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#captcha {
	width: 60%;
	float: right;
}
#old_comments {
	width: 730px;
	height: 300px;
}
#old_comments .c_comment {
	position: relative;
}
#old_comments .c_name {
	width: 120px;
}
#old_comments .c_date {
	width: 120px;
}
#old_comments .c_title {
	position: absolute;
	left: 120px;
	top: 0;
	font-size: 1.5em;
	border-bottom: 1px dotted black;
	width: auto;
}
#old_comments .c_content {
	position: absolute;
	left: 120px;
	top: 20px;
	margin-top: 1.5em;
}
.c_error {
	background-color: #FF9966;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FF6633;
	color: #fff;
}
.c_error li {
	margin: 10px;
	border-left: 5px solid #FF6633;
	margin-bottom: 5px;
	padding-left: 5px;
}