@font-face {
  font-family: 'digital-7';
  src: url('/font/digital-7.ttf');
}

h2 {
	border-bottom: 2px solid #333;
}
#comments-new h2 {
	margin-bottom: 35px;
}
#ads-top {
	width: 730px;
	height: 90px;
	margin-bottom: 10px;
	float: right;
}
#ads-detail {
	width: 300px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}
#price-board {
	width: 340px;
	height: 850px;
	float: left;
	position: relative;
	/*background-color: black;*/

	background: rgb(0,0,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(48,48,48,1) 49%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(49%,rgba(48,48,48,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(48,48,48,1) 49%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(48,48,48,1) 49%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(48,48,48,1) 49%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(48,48,48,1) 49%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 */

}
#price-board::before {
	content: " ";
	position: absolute;
	left: -10px;
	bottom: 0;
	width: 360px;
	height: 144px;
	background-image: url(/img/grass.png); /* fallback */
	background-position: bottom;
	background-repeat: no-repeat;
}
#station-logo {
	font-size: 25px;
	height: 70px;
	background-color: white;
}
#price-board .section {
	display: none;
	border-bottom: 3px solid white;
	padding: 10px;
	height: 50px;
	color: #fff;
}
#price-board .name {
	width: 110px;
	float: left;
	height: 40px;
	padding: 5px;
	border: 1px solid #fff;
	font-size: 1.4em;
}
#price-board .price {
	font-family: 'digital-7', sans-serif;
	font-size: 50px;
	height: 50px;
	width: 150px;
	float: right;
	border: 1px inset #fff;
	background-color: #000;
}
.price .back {
	position: relative;
	width: .6em;
	float: left;
	margin: 2px;
	text-align: right;
	color: #292929;
}
.back .digit {
	width: 100%;
	position: absolute;
	color: #fff;
	top: 0;
	left: 0;
}
.price .back.point {
	width: 5px;
}
.G95 .name {
	background-color: #006633;
}
.G98 .name {
	background-color: #339933;
}
.GOA .name {
	background-color: #000;
}
.NGO .name {
	background-color: #aaa;
}
.GOB .name {
	background-color: #CC3333;
}
.GOC .name {
	background-color: #FF3300;
}
.BIOD .name {
	background-color: #f1aa41;
}

#social-share {
	margin-bottom: 5px;
}

#detail {
	width: 730px;
	float: right;
}

#detail-content {
	color: #fff;
}

#detail .info {
	padding-left: 20px;
}
#map {
	width: 730px;
	height: 300px;
	float: right;
	top: 0;
	right: 0;
	margin-bottom: 20px;
}
#chart {
	width: 100%;
	height: 400px;
	clear: both;
}
#edit, #comments {
	width: 100%;
	float: right;
}
#comments form {
	padding-top: 10px;
}
#comments textarea {
	margin-top: 5px;
	width: 328px;
	padding: 5px;
	font-size: 1em;
	height: 150px;
	outline: none;
	border: 1px solid #d3d3d3;
}

.in {
	display: inline-block;
	margin-left: 5px;
}
#user-data {
	margin-top: 20px;
}
#comments .section {
	margin-top: 20px;
	min-height: 40px;
}
#comments input[type=text], #comments input[type=email] {
	width: 190px;
	height: 20px;
	font-size: 1em;
	outline: none;
	border: 1px solid #d3d3d3;
	padding: 3px;
	float: right;
}
#c_points_div.perror, #comments input[type=text].error, #comments input[type=email].error, #comments textarea.error {
	border: 1px solid #d24e33;
	box-shadow: 0 0 12px #d24e33;
}
#comments input[type=text].ok, #comments input[type=email].ok, #comments textarea.ok {
	color: #3399CC;
}
p.info {
	float: left;
}
div.error {
	float: right;
	color: #d24e33;
	width: 194px;
	font-size: .8em;
	display: none;
	margin-top: 2px;
}
#comments input[type=submit] {
	width: 100%;
	height: 30px;
	font-size: 1em;
	color: #fff;
}
#comments label {
	font-size: .9em;
}

.login {
	cursor: pointer;
	margin-left: 5px;
	border-radius: 5px;
	border: 3px solid #fff;
}

#replyto {
	display: none;
	background-color: white;
	color: black;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #333;
}
#replyto_name {
	border-bottom: 1px dotted #333;
}
#replyto_msg {
	max-height: 100px;
	overflow: scroll;
	margin-top: 10px;
}
#replyto_cancel {
	font-size: .8em;
	padding: 3px;
	float: right;
}

#c_points {
	display: none;
}
#c_points_div {
	width: 194px;
	height: 20px;
	float: right;
}
#comments .section p {
	margin-top: 3px;
	color: #aaa;
	font-size: .8em;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}
#section_points div.sel{
	color: #3399CC;
	float: right;
	width: 194px;
	margin-top: 2px;
}
.star {
	margin: 0;
	cursor: pointer;
}
.star_mini {
	margin: 0;
	margin-left: 2px;
}

.comment .title {
	font-size: 1.2em;
}
#username {
	font-size: 1.1em;
}
#comments-new a {
	color: #333;
	text-decoration: none;
}
.avatar {
	width: 50px;
	height: auto;
	float: left;
	margin-right: 10px;
}
#social-login {
	float: right;
}

#comments-new {
	width: 340px;
	float: left;
}
#comments-old {
	width: 730px;
	float: right;
}
.button {
	color: #fff;
	background-color: #333;
	border-radius: 5px;
	border: 3px solid #333;
	cursor: pointer;
}
.button:hover {
	background-color: #555;
}

#recaptcha_image {
	clear: both;
}
#recaptcha_image a {
	display: inline-block;
	padding: 3px;
	text-decoration: none;
	color: #333;
	width: 200px;
	border-width: 0;
	border-radius: 5px;
}
#recaptcha_image a:hover {
	background-color: #333;
	color: white;
}
#old_comments .c_block {
	clear: both;
}
#old_comments > .c_block {
	padding-top: 30px;
}
#old_comments .c_block .c_block {
	padding: 15px 0px 0px 50px;
	margin-left: 0;
	border-bottom: 1px dotted #d3d3d3;
	height: 50px;
	clear: both;
}
#old_comments .replies {
	margin-left: 10px;
	margin-top: 0;
	border-left: 1px dotted #d3d3d3;
}
#old_comments .c_comment {
	clear: both;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	padding: 10px 10px 30px 10px;
	min-height: 100px;
	position: relative;
}
#old_comments .replies .c_comment {
	border-left: 1px solid #d3d3d3;
	width: 100%;
	float: right;
}
#old_comments .c_avatar {
	width: 50px;
	height: auto;
	float: left;
	margin-right: 5px;
}
#old_comments .c_name a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}
#old_comments .c_date {
	padding-top: 4px;
	color: #999;
	font-size: .8em;
}

#old_comments .c_points{
	height: 20px;
	font-size: .8em;
}
#old_comments .c_content {
	padding: 0px 15px;
	clear: both;
	margin-top: 5px;
	margin-left: 120px;
}
#old_comments .reply {
	font-size: .8em;
	padding: 2px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.c_block .c_block .c_block .reply {
	display: none;
}
#result {
	background-color: #3399CC;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	margin-bottom: 10px;
}
#error {
	padding: 5px;
	background-color: #d24e33;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 10px;
}
#error ul {
	margin: 5px;
	padding-left: 15px;
	list-style-type:square;
}
#error li {
	margin-top: 3px;
}





