#map {
	width: 800px;
	height: 600px;
}
#map svg {
	width: 800px;
	height: 600px;
}
.canarias {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:none;
	stroke:#CCCCCC;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:3;
}
.prov {
	fill:#ccc;
	cursor: pointer;
}
.prov:hover {
	opacity: 0.5;
}