#map {
	width: 600;
	height: 600px;
}
#map svg {
	width: 600px;
	height: 600px;
}
.canarias {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:none;
	stroke:#CCCCCC;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:3;
}
.prov {
	fill:#ccc;
	cursor: pointer;
	-webkit-transition: fill .5s;
	-moz-transition: fill .5s;
	-ms-transition: fill .5s;
	-o-transition: fill .5s;
	transition: fill .5s;
}
.prov:hover {
	opacity: 0.5;
}