#map {
  width: 500px;
  height: 400px;
}

.stations {
  position: absolute;
}

.stations, .stations svg.aaa {
  position: absolute;
}

.stations border {
  position: absolute;
  stroke: black;
  stroke-width: 2px;
}

.stations svg.aaa {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}