

p {
  width: 500px;
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.1em;
}

input[type=radio], input[type=checkbox] {
  display: none;
}
#options {
  float: right;
  font-size: 18px;
}
.menubar {
  clear: both;
  height: 30px;
  padding: 2px;
}

.group-container {
  display: inline-block;
  overflow: visible;
  height: 1em;
}
.group-adder {
  background-color: #ccc;
  color: #fff;
  display: inline-block;
  height: 1.5em;
  width: 20px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}
.group {
  width: 100px;
  float: left;
  padding: 2px;
    -webkit-transition: height .2s linear;
     -moz-transition: height .2s linear;
      -ms-transition: height .2s linear;
       -o-transition: height .2s linear;
          transition: height .2s linear;
}
.group label {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  display: block;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  opacity: .9;
}
.group:hover {
  height: 200px;
  overflow: scroll;
}
.group:hover label {
  height: 1.2em;
  padding: 2px;
  border-bottom: 1px solid #fff;
}

.group input:checked + label {
  font-weight: bold;
  height: 1.2em;
  padding: 2px;
}

/*Los mapas*/
#map-container {
  height: 500px;
}
#hide + label {
  color: #ccc;
  font-size: .8em;
  padding: 2px;
  cursor: pointer;
}
#hide:checked + label {
  color: #fff;
  background-color: #000;
}

#raphael, #openmap {
  width: 50%;
  height: 500px;
}
#raphael {
  float: left;
}
#openmap {
  float: right;
}
#openmap .logo {
  cursor: pointer;
}
#openmap .logo:hover {
  outline: 5px solid #3AF2D4;
}
.chart {
  width: 1000px;
  height: 400px;
  float: left;
}

#histD3 {
  height: 400px;
}
#ballsD3 {
  height: 800px;
}