input[type=radio], input[type=checkbox] {
  display: none;
}

#control-container {
  border: 1px solid black;
  height: 20px;
  overflow: visible;
}
#regions, #brands, #options {
  float: left;
  margin-right: 10px;
  border: 1px solid red;
}
/*selector de regiones*/
.group {
  width: 80px;
  font-size: .8em;
  float: left;
}
.group label {
  color: #fff;
  display: block;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  opacity: .8;
  -webkit-transition: height .2s linear;
     -moz-transition: height .2s linear;
      -ms-transition: height .2s linear;
       -o-transition: height .2s linear;
          transition: height .2s linear;
}
.group:hover {
  height: 200px;
  overflow: scroll;
}
.group:hover label {
  border: 1px solid #eee;
  height: 1em;
  margin-bottom: 3px;
}

.group input:checked + label, .group input:checked + label {
  height: 1em;
  padding: 3px;
  opacity: 1;
  margin-bottom: 2px;
}

/*Los mapas*/
#map-container {
  height: 500px;
  border: 1px solid #000;
}
#hide + label {
  color: #ccc;
  font-size: .8em;
  padding: 2px;
  cursor: pointer;
}
#hide:checked + label {
  color: #fff;
  background-color: #000;
}

#raphael, #openmap {
  width: 50%;
  height: 500px;
}
#raphael {
  float: left;
}
#openmap {
  float: right;
}
#openmap .logo {
  cursor: pointer;
}
#openmap .logo:hover {
  outline: 5px solid #3AF2D4;
}
.chart {
  width: 1000px;
  height: 400px;
  border: 1px solid black;
  float: left;
}