h1 {
  background-color: #d24e33;
  color: #fff;
  padding: 5px;
  border-bottom: 5px solid #7e2516;
}

.description {
  color: #333;
  padding-left: 20px;
  width: 730px;
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  -moz-column-gap:30px; /* Firefox */
  -webkit-column-gap:30px; /* Safari and Chrome */
  column-gap:30px;
}

p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.2em;
  margin-top: 1.8em;
}
p:first-child {
  margin-top: 0;
}

/* Lista de provincias */
#prov-list {
  z-index: 50;
  color: #fff;
  position: absolute;
  background: rgb(8,8,8);
  background: rgba(8,8,8,0.8);
  padding: 5px;
  width: 160px;
  cursor: pointer;
  border-radius: 3px;
}
#prov-list h2 {
  display: inline-block;
  margin: 0;
  padding-left: 5px;
  font-size: 1em;
}
ul.droplist  {
  font-size: .9em;
  list-style: none;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .5s;
}
ul.droplist li {
  border-bottom: 1px dotted #fff;
  padding: 5px;
}
ul.droplist a {
  text-decoration: none;
  color: white;
  display: block;
}
ul.droplist li:hover {
  background-color: red;
}
#prov-list:hover ul.droplist {
  height: 350px;
  overflow-y: scroll;
  border-top: 1px solid #fff;
  margin-top: 10px;
}
/* fin lista provincias */


input[type=radio], input[type=checkbox] {
  display: none;
}
#options {
  float: right;
  font-size: 24px;
}
.menubar {
  clear: both;
  height: 30px;
  padding: 2px;
}

.group-container {
  display: inline-block;
  overflow: visible;
  height: 1em;
}
.group-adder {
  background-color: #ccc;
  color: #fff;
  display: inline-block;
  height: 1.5em;
  width: 20px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}
.group {
  width: 8em;
  float: left;
  padding: 2px;
    -webkit-transition: height .2s linear;
     -moz-transition: height .2s linear;
      -ms-transition: height .2s linear;
       -o-transition: height .2s linear;
          transition: height .2s linear;
}
.group label {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  display: block;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  opacity: .9;
}
.group:hover {
  height: 200px;
  overflow: scroll;
}
.group:hover label {
  height: 1.2em;
  padding: 2px;
  border-bottom: 1px solid #fff;
}

.group input:checked + label {
  font-weight: bold;
  height: 1.2em;
  padding: 2px;
}

/*Los mapas*/
#map-container {
  height: 500px;
  position: relative;
  background-color: #b5d0d0;
}
#hide-label {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
#hide + label {
  color: #ccc;
  font-size: .7em;
  padding: 3px;
  cursor: pointer;
  border-radius: 2px;
}
#hide:checked + label {
  color: #fff;
  background-color: #333;
}

#raphael, #openmap {
  width: 49%;
  height: 500px;
}
#raphael {
  float: left;
  border-right: 1px dotted #fff;
}
#raphael path {
  cursor: pointer;
}
#openmap {
  float: right;
}
#openmap .logo {
  cursor: pointer;
}
#openmap .logo:hover {
  outline: 5px solid #3AF2D4;
}
.chart {
  width: 1000px;
  height: 400px;
  float: left;
}

#histD3 {
  height: 400px;
}
#ballsD3 {
  height: 800px;
}




/*nv.d3.js*/
.nvd3 .nv-legend circle {
  cursor: pointer;
}
.nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}
.nvd3 .nv-axis line {
  fill: none;
  stroke: #333;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}
