@font-face {
  font-family: 'digital-7';
  src: url('/font/digital-7.ttf');
}

#home {
	width: 900px;
	float: right;
}
#home p a {
	color: #333;
}
#presentation {
	margin-top: 15px;
}
#intro {
	width: 48%;
	float: left;
}
#social {
	width: 48%;
	float: right;
}
#social form {
	float: right;
}
.addthis_toolbox {
	margin: 15px 0;
}
.panel {
	width: 48%;
	border-color: #ccc;
	border-style: solid;
	margin-top: 20px;
}
.panel.left {
	float: left;
}
.panel.right {
	float: right;
}
.publi160x600 {
	width: 160px;
	height: 600px;
	float: left;
	margin-top:20px;
}
/* El mapa */
#map {
	width: 100%;
	height: 400px;
}
#map svg {
	width: 100%;
}
.canarias {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:none;
	stroke:#CCCCCC;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:3;
}
.prov {
	fill: #f00;
	cursor: pointer;
}
.prov:hover {
	opacity: 0.5;
}

/* Lista de provincias */
#prov-container {
	position: relative;
}
#prov-list {
	z-index: 50;
	color: #fff;
	position: absolute;
	right: 0;
	top: -5px;
	background: rgb(8,8,8);
	background: rgba(8,8,8,0.8);
	padding: 5px;
	width: 160px;
	cursor: pointer;
	border-radius: 3px;
}
#prov-list h2 {
	display: inline-block;
	margin: 0;
	padding-left: 5px;
	font-size: 1em;
}
ul.droplist  {
	font-size: .9em;
	list-style: none;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .5s;
}
ul.droplist li {
	border-bottom: 1px dotted #fff;
	padding: 5px;
}
ul.droplist a {
	text-decoration: none;
	color: white;
	display: block;
}
ul.droplist li:hover {
	background-color: red;
}
#prov-list:hover ul.droplist {
	height: 350px;
	overflow-y: scroll;
	border-top: 1px solid #fff;
	margin-top: 10px;
}

/* Panel de precios */

#price_board {
	background-color: #333;
	color: #fff;
	border-radius: 3px;
}
.section {
	border-top: 3px solid #fff;
	height: 40px;
}
.price, .name {
	float: left;
	padding: 5px;
}
.head.name, .head.price {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	border: 0;
}

.name {
	width: 100px;
}
.price {
	font-family: 'digital-7', sans-serif;
	font-size: 30px;
	width: 90px;
	border-left: 3px solid #fff;
	text-align: center;
}
.price span {
	display: block;
	width: 90px;
	height: 1em;
	border: 1px inset #fff;
	background-color: #000;
}

.T_G95 {
	background-color: #006633;
}
.T_G98 {
	background-color: #339933;
}
.T_GOA {
	background-color: #333;
}
.T_NGO {
	background-color: #222;
}
.T_GOB {
	background-color: #A52828;
}
.T_GOC {
	background-color: #CB2800;
}
.T_BIOD {
	background-color: #F1AA41;
}