@font-face {
  font-family: 'digital-7';
  src: url('/font/digital-7.ttf');
}

#home {
	width: 900px;
	float: right;
}
.panel {
	width: 48%;
	border-color: #ccc;
	border-style: solid;
}
.panel.left {
	float: left;
}
.panel.right {
	float: right;
}
.publi160x600 {
	width: 160px;
	height: 600px;
	border: 1px dotted #000;
	float: left;
}
/* El mapa */
#map {
	width: 100%;
	height: 400px;
}
#map svg {
	width: 100%;
}
.canarias {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:none;
	stroke:#CCCCCC;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:3;
}
.prov {
	fill: #f00;
	cursor: pointer;
}
.prov:hover {
	opacity: 0.5;
}

/* Lista de provincias */
#prov-container {
	position: relative;
}
#prov-list {
	color: #fff;
	position: absolute;
	right: 0;
	top: -5px;
	background: rgb(8,8,8);
	background: rgba(8,8,8,0.8);
	padding: 5px;
	width: 120px;
	background-position: 110px 10px;
	background-repeat: no-repeat;
	background-image: url('/img/arrow_white.png');
	cursor: pointer;
}
ul.droplist  {
	font-size: .9em;
	list-style: none;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .5s;
}
ul.droplist li {
	border-bottom: 1px dotted #fff;
	padding: 3px;
}
ul.droplist a {
	text-decoration: none;
	color: white;
	display: block;
}
ul.droplist li:hover {
	background-color: red;
}
#prov-list:hover ul.droplist {
	height: 350px;
	overflow-y: scroll;
	border-top: 1px solid #fff;
	margin-top: 10px;
}

/* Panel de precios */
.section {
	clear: both;
	margin-top: 12px;
	height: 50px;
}
.price, .name {
	float: left;
	background-color: #000;
	height: 50px;
	padding: 5px;
}
.head.name, .head.price {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	height: 20px;
	text-transform: uppercase;
}
.name {
	width: 100px;
}
.price {
	font-family: 'digital-7', sans-serif;
	font-size: 40px;
	width: 90px;
	margin-right: 2px;
}

.T_G95 {
	color: #006633;
}
.T_G98 {
	color: #339933;
}
.T_GOA {
	color: #fff;
}
.T_NGO {
	color: #aaa;
}
.T_GOB {
	color: #CC3333;
}
.T_GOC {
	color: #FF3300;
}
.T_BIOD {
	color: #FFCC33;
}