#list {
	width: 730px;
	font-size: 1em;
}
#control {
	position: relative;
	height: 150px;
}
#control_items li {
	width: 90px;
	height: 20px;
	cursor: pointer;
	padding-left: 35px;
	padding-top: 5px;
}
#control .c_content {
	position: absolute;
	left: 130px;
	right: 0;
	top: 0;
	bottom: 10px;
	display: none;
	padding: 10px;
	border: 5px solid #3399CC;
	background-color: #3399CC;
	color: white;
}

#control .c_content > p:first-child {
	border-bottom: 2px solid white;
	overflow: hidden;
	padding-top: 5px;
}

#control .c_content a {
	color: white;
}
#control .c_content.on {
	display: block;
}
.c_item {
	background-repeat: no-repeat;
	background-size: 20px;
}
.c_item.on {
	background-color: #3399CC;
	color: white;
	border: 5px solid #3399CC;
}

#c_info {
	background-image: url("/img/info.svg");
}
#c_cities {
	background-image: url("/img/city.svg");
}
#cities .filter {
	padding: 3px;
	cursor: pointer;
	border: 1px solid white;
	margin-right: 3px;
}

#cities_list {
	-moz-column-count:5; /* Firefox */
	-webkit-column-count:5; /* Safari and Chrome */
	column-count:5;
	-moz-column-gap:10px; /* Firefox */
	-webkit-column-gap:10px; /* Safari and Chrome */
	column-gap:10px;
	-moz-column-rule:1px outset white; /* Firefox */
	-webkit-column-rule:1px outset white; /* Safari and Chrome */
	column-rule:1px outset white;
	font-size: .8em;
	overflow: scroll;
}
#cities_list li {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: .5em;
	display: none;
}
#cities ul li.c_A {
	display: block;
}

#c_filter {
	background-image: url("/img/filter.svg");
}
#c_types {
	background-image: url("/img/pump.svg");
}
#c_distance {
	background-image: url("/img/distance.svg");
}

#google_map {
	width: 370px;
	height: 300px;
	border: 1px dotted black;
	position: absolute;
	right: 0;
	top: 80px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;

}
#zoom_google_map {
	width: 370px;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px dotted black;
	cursor: pointer;
}

#google_map.big {
	width: 1000px;
	height: 600px;
}

#ads {
	border: 1px solid black;
}
th.T_LOC, th.T_ADDR, th.T_DIST {
	background-color: #3399CC;
	border-color: #006699;
}
td.T_DIST {
	background-image: url('/img/locate.svg');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: -500px;
	overflow: hidden;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;

}
#table td.T_ADDR {
	padding-left: 32px;
	background-repeat: no-repeat;
}
li.T_G95, th.T_G95 {
	background-color: #006633;
}
th.T_G95 {
	border-color: #004924;
}
li.T_G98, th.T_G98 {
	background-color: #339933;
}
th.T_G98 {
	border-color: #257125;
}
li.T_GOA, th.T_GOA {
	background-color: #000;
}
th.T_GOA {
	border-color: #333;
}
li.T_NGO, th.T_NGO {
	background-color: #555;
}
th.T_NGO {
	border-color: #222;
}
li.T_GOB, th.T_GOB {
	background-color: #CC3333;
}
th.T_GOB {
	border-color: #A52828;
}
li.T_GOC, th.T_GOC {
	background-color: #FF3300;
}

th.T_GOC {
	border-color: #CB2800;
}
li.T_BIOD, th.T_BIOD {
	background-color: #FFCC33;
}
th.T_BIOD {
	border-color: #D7AB2A;
}
#fuel_type {
	list-style: none;
	padding: 0;
}
li.off {
	background-color: #bbb;
}
th {
	padding: 3px;
	font-size: 1.2em;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	color: white;
	text-align: left;
}
th div.sort {
	margin-bottom: 3px;
	width: 10px;
	height: 20px;
	background-image: url('/img/sort.svg');
	background-repeat: no-repeat;
	background-size: 10px 20px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ie-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
th.sort_up div.sort {
	background-image: url('/img/sort_up.svg');
	background-repeat: no-repeat;
	background-size: 10px 20px;
}
th.sort_down div.sort {
	background-image: url('/img/sort_up.svg');
	background-repeat: no-repeat;
	background-size: 10px 20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

th.off, td.off, tr.r_off {
	display: none;
}
thead tr.r_off {
	display: table-row;
}
tr {
	margin-top: 5px;
	border-bottom: 3px solid #EEF;
}

#table {
	margin-right: 10px;
	width: 100%;
	height: 500px;
	overflow-y: scroll;
	width: 100%;
}
#table table {
	margin-right: 20x;
	width: 100%;
	font-size: 1em;
}
#table td {
	padding: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 120px;
}

#table a {
	text-decoration: none;
	color: black;
}
#table a:hover {
	text-decoration: underline;
}
#table th {
	cursor: pointer;
}
#table tr:hover, #table tr:hover a {
	background-color: #006699;
	color: white;
}
#table tr:hover td.T_DIST {
	background-position: 35px;
	cursor: pointer;
}

#fuel_type li {
	padding: 3px;
	display: inline-block;
	width: 80px;
	height: 30px;
	color: white;
	text-align: center;
	cursor: pointer;
	font-size: .8em;
}

#pager {
	font-size: .7em;
	width: 100%;
}
#pager_links {
	padding: 0;
}
#pager_links div a {
	text-decoration: none;
	color: white;
}
#pager_links div.current a {
	color: black;
}
#pager_links div {
	background-color: black;
	width: 28px;
	height: 22px;
	text-align: center;
	padding: 6px 0px 0px 0px;
	margin: 1px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-ie-border-radius: 15px;
	border-radius: 15px;
}
#pager_links div.current {
	background-color: white;
	border: 2px solid black;
}
#pager img {
	width: 30px;
}
#pager div {
	display: inline-block;
	margin-right: 15px;
}
#pager_less {

}