@font-face {
  font-family: 'digital-7';
  src: url('/font/digital-7.ttf');
}

@media only screen and (max-width: 600px) {
#control {
	width: 100%;
	float: none;
	}
body {
	width: 100%;
	}
#map_area {
	width: 100%;
	float: none;;
	}
}

@media only screen and (min-width: 601px) {
#control {
	width: 350px;
	}
#map_area {
	width: 730px;
	float: right;
	}
}
#social > div, #social form, #social > a {
	float: right;
	margin-bottom: 10px;
}
#social .flattr img {
	height: 18px;
}
.panel #social input[type=image] {
	/*margin-top: 1px;*/
	height: 16px;
	width: auto;
	margin-right: 10px;
	border-radius: 3px;
}
.panel #social input[type=image]:hover {
	opacity: .8;
}
#list {
	position: relative;
	width: 730px;
	float: right;
	font-size: .9em;
	border-top: 1px solid #fff;
}
#no-results {
	position: absolute;
	top: 50px;
	font-size: 20px;
	text-align: center;
	width: 100%;
	color: #fff;
	background-color: #006699;
	border-radius: 3px;
	padding: 10px 0;
	display: none;
}
#control {
	background-color: #333;
	position: relative;
	float: left;
	color: #fff;
	padding: 5px;
}
#summary {
	font-size: 12px;
}
#summary td {
	width: 70px;
	vertical-align: middle;
	padding: 3px;
}
#summary tr.data {
	border-top: 1px solid #fff;
}
#summary-h .price {
	border: 1px solid #fff;
}
#summary-h td.min {
	background-color: #4EC149;
}
#summary-h td.mean {
	background-color: #FFB200;
}
#summary-h td.max {
	background-color: #FF322E;
}
#summary-b td.price {
	font-family: 'digital-7', sans-serif;
	font-size: 18px;
}
#summary-b tr.T_1 {
	background-color: #004924;
}
#summary-b tr.T_3 {
	background-color: #257125;
}
#summary-b tr.T_4 {
	background-color: #333;
}
#summary-b tr.T_5 {
	background-color: #222;
}
#summary-b tr.T_6 {
	background-color: #A52828;
}
#summary-b tr.T_7 {
	background-color: #CB2800;
}
#summary-b tr.T_8 {
	background-color: #f1aa41;
}
#summary span {
	background-color: #000;
	padding: 1px;
	display: inline-block;
	width: 40px;
	text-align: center;
	border: 1px inset #fff;
}
#updated {
	margin-top: 3px;
	float: right;
	font-size: .8em;
}
#google_map {
	width: 100%;
	height: 300px;
	margin-bottom: 2px;
}
#map_area {
	position: relative;
}
#toolbar {
	font-size: 12px;
	height: 25px;
	background-color: #333;
	color: #fff;
	position: relative;
}
#m-density {
	float: left;
}
#m-density label {
	cursor: pointer;
	padding: 2px;
	margin: 2px;
	display: block;
	border-radius: 3px;
}
#m-density label:after {
	font-size: 1.2em;
	margin-left: 5px;
	content: "\2610";
}
#m-density input:checked + label {
	background-color: #fff;
	color: #333;
}
#m-density input:checked + label:after {
	content: "\2611";
}

#m-density input {
	display: none;
}
#legend {
	cursor: help;
	border: 1px solid #333;
	width: 300px;
	overflow: hidden;
	z-index: 50;
	position: absolute;
	right: 0;
	height: 16px;
	-webkit-transition: height .2s ease-in;
	    -ms-transition: height .2s ease-in;
	        transition: height .2s ease-in;
}
#legend .title {
	font-size: 1em;
	padding: 5px;
	width: 100%;
}
#legend .item {
	color: #333;
	border-bottom: 1px dotted #333;
	padding: 5px;
	width: 100%;
}
#legend .subitem {
	padding: 5px;
	margin-right: 10px;
	display: inline-block;
}
#legend:hover {
	height: 320px;
	background: rgb(255,255,255);
}
#detail {
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 720px;
	height: 0;
	background: rgb(8,8,8);
	background: rgba(8,8,8,0.8);
	border-right: 1px solid #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	overflow: hidden;
	padding: 5px;
	opacity: 0;
}
#detail.on {
	height: 80px;
	opacity: 1;
}
#d-link {
	margin-left: 15px;
	text-align: center;
	padding: 3px;
	color: #fff;
	display: block;
	margin-top: 10px;
	font-size: .9em;
	width: 130px;
}
#d-link:hover {
	color: #ccc;
}
#d-close {
	float: right;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
#d-close:hover {
	color: #ccc;
}
#d-close:after {
	content: "\2716";
}
#d-title {
	margin-left: 25px;
	font-size: 1.1em;
	margin-bottom: 3px;
}
#d-prices {
	float: right;
	padding: 3px;
}
#d-prices li {
	font-size: 12px;
	float: left;
	width: 68px;
	height: 100px;
	padding: 2px;
	margin-right: 5px;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #ccc;
}
#d-prices li div {
	text-align: center;
}
#d-prices li div:first-child {
	height: 2.2em;
	margin-bottom: 5px;
	border-bottom: 1px solid #fff;
}
#d-prices li div.p {
	font-family: 'digital-7', sans-serif;
	font-size: 25px;
}
#d-updated {
	padding: 2px;
	height: 25px;
}
#d-updated div {
	float: left;
	margin-right: 3px;
}
#d-info {
	width: 180px;
	float: left;
}
#d-clock {
	margin-right: 5px;
}
#d-date {
	width: 150px;
	font-size: .9em;
}
#publi_730x90 {
	width: 730px;
	height: 90px;
	float: right;
	margin-bottom: 2px;
}
#publi_300x250 {
	width: 300px;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.panel {
	position: relative;
	padding: 5px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 5px 0;
	clear: both;
	border-top: 1px solid #aaa;
	margin-top: 15px;
	min-height: 40px;
}
.panel:first-child {
	border: none;
	margin-top: 0;
}
.p_head {
	vertical-align: middle;
	margin-top: 5px;
}
.p_head h2, .p_head h1 {
	display: inline-block;
	margin: 0;
	padding-left: 10px;
	font-size: 1.1em;
	max-width: 300px;
}
.p_head h1 {
	font-size: 1.2em;
	margin-bottom: .5em;
}
.p_content {
	margin-top: 10px;
	padding-left: 30px;
}
.panel input {
	width: 100%;
	font-size: 12px;
	padding: 4px;
	border-radius: 5px;
	float: right;
	outline: none;
	border: 0;
}
.panel input:hover + .tooltip {
	opacity: 1;
}
#cities {
	position: relative;
	width: 100%;
	height: 20px;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	padding-top: 5px;
}
#cities p {
	display: inline;
	margin-left: 10px;
}
#cities ul {
	position: absolute;
	left: 5px;
	top: 25px;
	height: 0;
	opacity: 0;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	        transition: all .25s ease-in;
	overflow: hidden;
	z-index: 100;
	border: 1px solid #333;
	background: rgb(255,255,255);
	background: rgba(255,255,255, 0.9);
	width: 210px;
}
#cities ul li {
	border-bottom: 1px dotted #ccc;
}
#cities:hover ul {
	height: 120px;
	opacity: 1;
	overflow-y: auto;
}
#cities-list a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 2px;
}
#cities-list a:hover {
	color: #fff;
	background-color: #3399CC;
}
#fuel-type {
	height: 50px;
}
#fuel-type li {
	float: left;
	width: 30px;
	height: 40px;
	color: #fff ;
	text-align: center;
	font-size: 11px;
	cursor: pointer;
	margin: 0 10px 10px 0;
	position: relative;
	border: 1px solid #333;
	padding: 1px;
	border-radius: 5px;
}
#fuel-type li.on {
	border-color: #fff;
}
#fuel-type li.disabled {
	opacity: .3;
}
#fuel-type li .t_info {
	display: none;
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
}
#fuel-type li.off:hover {
	border: 1px dotted #fff;
}
#fuel-type li.on:hover {
	border: 1px solid #fff;
}
#fuel-type li:hover .t_info {
	display: block;
}
.floater-r {
	width: 220px;
	height: 20px;
	float: right;
}
.panel .tooltip {
	color: #ccc;
	float: right;
	font-size: .8em;
	padding-top: 3px;
	opacity: 0;
	margin-bottom: 10px;
	-webkit-transition: opacity .25s ease;
	   -moz-transition: opacity .25s ease;
	    -ms-transition: opacity .25s ease;
	        transition: opacity .25s ease;
}
#distance-info {
	margin-top: 35px;
}
#distance-info a {
	color: #fff;
}

th.T_LOC, th.T_ADDR, th.T_DIST, th.T_DATE {
	background-color: #3399CC;
	border-color: #006699;
}
.T_LOC {
	width: 95px;
}
#table tr:hover td.T_DIST {
	font-size: 0;
	background-repeat: no-repeat;
	background-image: url('/img/locate.png');
	background-position: 3px 3px;
}
.T_DIST {
	cursor: pointer;	
}

#table a {
	text-decoration: none;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	padding: 2px;
	height: 20px;
}
td.T_ADDR a {
	display: block;
}

td.T_1, td.T_3, td.T_4, td.T_5, td.T_6, td.T_7, td.T_8 {
	font-family: 'digital-7';
	font-size: 1.3em;
	background-color: #333;
	color: #fff;
	text-align: center;
}

li.T_1.on, th.T_1, #d-prices li.T_1 {
	background-color: #006633;
}
th.T_1 {
	border-color: #004924;
}
li.T_3.on, th.T_3, #d-prices li.T_3 {
	background-color: #339933;
}
th.T_3 {
	border-color: #257125;
}
li.T_4.on, th.T_4, #d-prices li.T_4 {
	background-color: #000;
}
th.T_4 {
	border-color: #999;
}
li.T_5.on, th.T_5, #d-prices li.T_5 {
	background-color: #555;
}
th.T_5 {
	border-color: #222;
}
li.T_6.on, th.T_6, #d-prices li.T_6 {
	background-color: #CC3333;
}
th.T_6 {
	border-color: #A52828;
}
li.T_7.on, th.T_7, #d-prices li.T_7 {
	background-color: #FF3300;
}

th.T_7 {
	border-color: #CB2800;
}
li.T_8.on, th.T_8, #d-prices li.T_8 {
	background-color: #f1aa41;
}
th.T_8 {
	border-color: #be770e;
}
#table .on, .T_DIST, .T_DATE {
	width: 40px;
}
.T_DATE span {
	display: none;
}
#table th {
	padding: 2px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	color: white;
	text-align: left;
	border-left: 1px solid #fff;
}
#table th:hover {
	opacity: .8;
}
th .sprt.sort {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ie-transition: all .5s;
	transition: all .5s;
}
.sort_down .sort {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

th.off, td.off,tr.r_off, tr.f_off {
	display: none;
}

#table-data tr {
	border-bottom: 1px solid #eee;
	height: 25px;
}

#table {
	margin-right: 10px;
	width: 100%;
	height: 460px;
}
#table table {
	table-layout: fixed;
	margin-right: 20x;
	width: 100%;
}
#table td {
	padding: 1px;
	overflow: hidden;
	border-left: 1px solid #eee;
	vertical-align: middle;
}
.T_ADDR a {
	margin-left: 30px;
}
#table a:hover {
	color: #006699;
}
#table th {
	cursor: pointer;
}
#table-data tr:hover, #table-data tr:hover a {
	background-color: #DBF6FF;
}

#pager {
	font-size: .7em;
	width: 100%;
}
#pager .p.current {
	color: #333;
	background-color: #fff;
}
#pager .p {
	cursor: pointer;
	color: #fff;
	background-color: #333;
	border: 2px solid #333;
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 4px;
	margin: 1px;
	border-radius: 16px;
	display: inline-block;
	margin-right: 5px;
}
#pager .p.current:hover {
	background-color: #fff;
}
#pager .p:hover {
	background-color: #555;
}
#pager .p:active {
	background-color: #000;
}
#pager-links {
	width: 650px;
	float: right;
}
.pag_less, .pag_more {
	font-size: .7em;
}

/* Sprites cluster, para mapa y leyenda */
.cluster {
	background: rgb(255,255,255);
	background: rgba(255,255,255, 0.8);
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0 1px 3px 0;
	background-repeat: no-repeat;
	background-image: url(/img/cluster.png);
}
.low {width:40px; height:40px; background-position: -2px -2px}
.medium {width:50px; height:50px; background-position: -44px -2px}
.high {width:60px; height:60px; background-position: -2px -54px}

.ref {
	height: 20px;
	position: relative;
}
