@import url(http://fonts.googleapis.com/css?family=Share+Tech);

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

#csv-data,  #xls-data, #search-dataa, #data {
	font-family: 'Share Tech', sans-serif;
}


#csv-data td, #xls-data td, #search-data td, #data td {
	background-color: orange;
	color: white;
	margin-right: 5px;
}

#csv-data th, #xls-data th, #search-data th, #data th {
	background-color: green;
	color: white;
	margin-right: 5px;
	font-weight: bold;
}

#legend > div {
	display: inline-block;
}
#legend {
	width: 200px;
	padding-left: 0;
}

li.op {
	cursor: pointer;
	list-style: none;
	margin-bottom: 1px;
}
li.op:hover {
	padding-left: 10px;
}
li.op.off {
	opacity: .5;
}
div.off {
	display: none;
}
.op1 {
	/* G95 */
	background-color: #FF7C00;
}
.op3 {
	/* G98 */
	background-color: #04859D;
}
.op4 {
	/* Gasoleo Automoción */
	background-color:  #DF004F;
}
.op5 {
	/* Nuevo Gasóleo A */
	background-color: #FFCE00;
}
.op6 {
	/* Gasóleo B */
	background-color: #00B74A;
}
.op7 {
	/* Gasóleo C */
	background-color: #C6F500;
}
.op8 {
	/* Biodiésel */
	background-color: #FF3100;
}