#map {
	width: 800px;
	height: 600px;
	position: relative;
}
#map svg {
	position: absolute;
	width: 100%;
}
.province {
	opacity: 0.5;
	cursor: pointer;
}
.province:hover {
	opacity: 1.0;
}

.province:hover .area {
	stroke-width: 1;
}

#label {
	opacity: 1.0;
	display: none;
	z-index: 500;
}


.linea_canarias {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:none;
	stroke:#CCCCCC;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:3;
}
.provincia {
/*	fill-rule:evenodd;
	clip-rule:evenodd;*/
	fill:#F00;
	cursor: pointer;
}
.provincia:hover {
	opacity: 0.5;
}
