/* El mapa */
#map {
	width: 80%;
}
#map svg {
	width: 100%;
}
.canarias {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:none;
	stroke:#CCCCCC;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:3;
}
.prov {
	fill: #f00;
	cursor: pointer;
}
.prov:hover {
	opacity: 0.5;
}