.tumblr_posts {
	font-size: 16px;
}

.tumblr_post {
	margin-top: 30px;
	clear: both;
}

.tumblr_post:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

.tumblr_link {
	text-align: right;
	display: block;
	font-size: 1.2em;
	padding: 5px;
	background-color: #3399CC;
	color: #fff;
	padding-left: 250px;
	text-decoration: none;
	border-bottom: 5px solid #006699;
}

.tumblr_description {
	margin-top: 20px;
	line-height: 1.2em;
}
.tumblr_description p {
	width: 730px;
	float: right;
}
.tumblr_description p:first-child:first-letter, .image + p:first-letter {
	font-size: 250%;
    float: left;
    margin: 10px 4px 0 0;
    font-weight: bold;
}
.tumblr_description p.image {
	width: 250px;
	float: left;
}
.tumblr_description p.image img {
	max-width: 250px !important;
	height: auto !important;
}

.tumblr_description a {
	color: #006699;
}
.tumblr_description .link {
	text-align: right;
}
.tumblr_description .link a {
	font-size: .8em;
	text-decoration: none;
	background-color: #ccc;
	color: #fff;
	padding: 3px;
}
.tumblr_description .link a:hover {
	background-color: #006699;
}

/* Publicidad */
.ads {
	float: right;
}