<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="refresh" content="5;url=http://www.gasole.net" />
	<title>Recurso No Encontrado</title>

<style>
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
body {
	background-color: #d24e33;
	font-family: 'Lato', sans-serif;
	color: #fff;
}
a {
	color: #fff;
}
img {
	background-color: #fff;
	border-radius: 50px;
	padding: 30px;
}
#content {
	width: 500px;
	margin: 0 auto;
}
</style>
</head>


<body>
	<div id="content">
	<h1>No encontramos lo que buscas.</h1>
		<img src="/img/404.png">
		<p>Los trabajadores de  GasOle.net no han localizado el recursos que buscabas</p>
		<p>En 5 segundos te enviaremos a la página principal de <a href="http://www.gasole.net">GasOle.net</a></p>
	</div>
</body>
</html>