<!DOCTYPE html>
<html lang="es" itemscope itemtype="http://schema.org/Review">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<meta name="robots" content="noindex, nofollow" />
	<title>{{title}}</title>
	<link rel="apple-touch-icon" href="/img/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/img/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/img/touch-icon-ipad-retina.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- iPhone -->
    <link href="/img/apple-startup-ihone.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPhone (r) -->
    <link href="/img/apple-startup-ihone.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
    <link href="/img/apple-startup-ihone.png"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad Portrait -->
    <link href="/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPad Landscape -->
    <link href="/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPad Portrait (r) -->
    <link href="/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad Landscape (r) -->
    <link href="/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	{% for css in styles %}
		<link rel="stylesheet" type="text/css" href="{{css}}" />
	{% endfor %}
	{% for sc in scripts %}
		<script type="text/javascript" src="{{sc}}"></script>
	{% endfor %}
	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-484868-7']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<!-- sharethis -->
	<script type="text/javascript">
		var switchTo5x=true;
	</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">
		stLight.options({
			publisher: "17c5fc50-e0a1-43cf-b6a3-47bff785eee2", 
			tracking:'google',
			doNotHash: false, 
			doNotCopy: false, 
			onhover: false,
			hashAddressBar: false});
	</script>
</head>

<body>
<header id="header">
	{% if user %}
	<div id="user">
		<a href="{{user.link}}"><img class="avatar" src="{{user.avatar_url}}"></a>
		<a id="logout" href="/logout">salir [x]</a>
	</div>
	{% endif %}
	<a href="/" id="logo">GasOlé</a>
	<p>Toda la información sobre gasolinas y otros combustibles</p>
</header>

<nav>
	<ul class="menu clearer">
		<li class="menu home"><a class="item" href="/"><div class="sprt m_home"></div></a>
			<div class="m_desc home"><div class="sprt arrow a_home"></div>Volver a la página principal de GasOlé.</div></li>
		<li class="menu stats"><a class="item" href="/graficos"><div class="sprt m_stats"></div> GRÁFICOS</a>
			<div class="m_desc stats"><div class="sprt arrow a_stats"></div>Representaciones gráficas de los precios del combustible y la distribución de gasolineras en España.</div></li>
		<li class="menu info"><a class="item" href="/info/combustibles"><div class="sprt m_info"></div> INFORMACIÓN</a>
			<div class="m_desc info"><div class="sprt arrow a_info"></div>Algunas notas y apuntes sobre tipos de combustibles e impuestos.</div></li>
		<li class="menu cards"><a class="item" href="/info/tarjetas"><div class="sprt m_cards"></div> TARJETAS</a>
			<div class="m_desc cards"><div class="sprt arrow a_cards"></div>Pequeña recopilación de tarjetas que te ayudan a ahorrar en tus compras de combustible.</div></li>
		<li class="menu news"><a class="item" href="/info/noticias"><div class="sprt m_news"></div> NOTICIAS</a>
			<div class="m_desc news"><div class="sprt arrow a_news"></div>Noticias de actualidad sobre gasolinas, y el mundo de los combustibles en general.</div></li>
		<li class="menu search">
			<div class="item">Buscador
			<form action="javascript:geoCode()">
			<input type="submit" id="search" value="" class="sprt search_icon"></input>
			<input type="text" id="address" name="address" placeholder="Ej.: Gran Vía 25, Madrid" />
			</form>
			</div>
			<div id="search-box">
				<div class="sprt arrow a_search"></div>
				<div id="results">
					<p id="results-title">Introduce un lugar de búsqueda: población, provincia, dirección, código postal, hotel, aeropuerto…</p>
					<ol id="results-list"></ol>
				</div>
				<div id="search-options">
					<div class="my-slider" min="1" max="10" step=".5" id="search-d" value="2"></div>
					<div id="current-loc"><span class="sprt search_gps"></span> <span>Usar mi posición actual</span></div>
				</div><!-- search-options -->

				
			</div>
		</li>
	</ul>
</nav>


<div id="content" class="clearer">{{content}}</div>

<footer>
<div class="footer_section" >
	<h2>Acerca de GasOle.net</h2>
	<a href="http://www.gasole.net">GasOle.net</a> es un desarrollo de <a href="http://about.me/luispedraza">@luispedraza</a>
</div>

<div class="footer_section" style="width: 730px;float: right;">
	<h2>Todas las provincias</h2>
	<ul id="allprovs">
		<script>
		initProvLinks("allprovs");
		</script>
	</ul>
</div>

</footer>
</body>
</html>