<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Stadísticas</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/js/jquery.tablesorter.pager.js"></script>
	<script type="text/javascript" src="/js/gas_data.js"></script>
	<script type="text/javascript" src="/js/list.js"></script>
</head>


<body>
<header id="header">
	<h1>Gasolé</h1>
	<p>Toda la información sobre gasolinas y otros combustibles</p>
</header>
<nav>
	<ul class="menu">
		<li class="menu_search">BUSCADOR</li>
		<li class="menu_stats">ESTADÍSTICAS
			<ul class="submenu">
			<li>Precio</li>
			<li>Cantidad</li>
			<li>Variedad</li>
			</ul>
		</li>
		<li class="menu_news">NOTICIAS</li>
	</ul>
</nav>

<div id="content">{{content}}</div>

<footer>
<div class="footer_section">
	<ul>
		<li><a href="/gasolineras/Álava">Álava</a></li>
		<li><a href="/gasolineras/Albacete">Albacete</a></li>
		<li><a href="/gasolineras/Alicante">Alicante</a></li>
		<li><a href="/gasolineras/Almería">Almería</a></li>
		<li><a href="/gasolineras/Asturias">Asturias</a></li>
		<li><a href="/gasolineras/Ávila">Ávila</a></li>
		<li><a href="/gasolineras/Badajoz">Badajoz</a></li>
		<li><a href="/gasolineras/Badajoz">Balears_(Illes)</a></li>
		<li><a href="/gasolineras/Barcelona">Barcelona</li>
		<li><a href="/gasolineras/Burgos">Burgos</li>
		<li><a href="/gasolineras/Cáceres">Cáceres</li>
		<li><a href="/gasolineras/Cádiz">Cádiz</li>
		<li><a href="/gasolineras/Cantabria">Cantabria</li>
		<li><a href="/gasolineras/Castellón_-_Castelló">Castellón / Castelló</li>
		<li><a href="/gasolineras/Ceuta">Ceuta</li>
		<li><a href="/gasolineras/Ciudad_Real">Ciudad Real</li>
		<li><a href="/gasolineras/Córdoba">Córdoba</li>
		<li><a href="/gasolineras/Coruña_(A)">Coruña (A)</li>
		<li><a href="/gasolineras/Cuenca">Cuenca</li>
		<li><a href="/gasolineras/Girona">Girona</li>
		<li><a href="/gasolineras/Granada">Granada</li>
		<li><a href="/gasolineras/Guadalajara">Guadalajara</li>
		<li><a href="/gasolineras/Guipúzcoa">Guipúzcoa</li>
		<li><a href="/gasolineras/Huelva">Huelva</li>
		<li><a href="/gasolineras/Huesca">Huesca</li>
		<li><a href="/gasolineras/Jaén">Jaén</li>
		<li><a href="/gasolineras/León">León</li>
		<li><a href="/gasolineras/Lleida">Lleida</li>
		<li><a href="/gasolineras/Lugo">Lugo</li>
		<li><a href="/gasolineras/Madrid">Madrid</li>
		<li><a href="/gasolineras/Málaga">Málaga</li>
		<li><a href="/gasolineras/Melilla">Melilla</li>
		<li><a href="/gasolineras/Murcia">Murcia</li>
		<li><a href="/gasolineras/Navarra">Navarra</li>
		<li><a href="/gasolineras/Ourense">Ourense</li>
		<li><a href="/gasolineras/Palencia">Palencia</li>
		<li><a href="/gasolineras/Palmas_(Las)">Palmas, Las</li>
		<li><a href="/gasolineras/Pontevedra">Pontevedra</li>
		<li><a href="/gasolineras/Rioja_(La)">Rioja, La</li>
		<li><a href="/gasolineras/Salamanca">Salamanca</li>
		<li><a href="/gasolineras/Santa_Cruz_de_Tenerife">Santa Cruz de Tenerife</li>
		<li><a href="/gasolineras/Segovia">Segovia</li>
		<li><a href="/gasolineras/Sevilla">Sevilla</li>
		<li><a href="/gasolineras/Soria">Soria</li>
		<li><a href="/gasolineras/Tarragona">Tarragona</li>
		<li><a href="/gasolineras/Teruel">Teruel</li>
		<li><a href="/gasolineras/Toledo">Toledo</li>
		<li><a href="/gasolineras/Valencia_-_València">Valencia / València</li>
		<li><a href="/gasolineras/Valladolid">Valladolid</li>
		<li><a href="/gasolineras/Vizcaya">Vizcaya</li>
		<li><a href="/gasolineras/Zamora">Zamora</li>
		<li><a href="/gasolineras/Zaragoza">Zaragoza</li>
	</ul>
</div>

</footer>
</body>
</html>