<!DOCTYPE html>
<html lang="es" itemscope itemtype="http://schema.org/Review">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<title>{{title}}</title>
	<meta name="robots" content="noindex, nofollow" />
	<meta name="description" content="{{og.desc}}"/>
	<link rel="author" href="https://plus.google.com/102523018458077995158/">
	<!-- opengraph -->
	<meta property="og:title" content="{{og.title}}"/>
	<meta property="og:description" content="{{og.desc}}">
	<meta property="og:url" content="{{og.url}}"/>
	<meta property="og:image" content="http://gasole.net/img/fb_gasole.png"/>
	<meta property="og:image" content="http://gasole.net/img/fb_gasole_map.png"/>
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="400">
	<meta property="og:image:height" content="400">
	<meta property="og:site_name" content="GasOle.net"/>
	<meta property="og:type" content="website"/>
	<meta property="og:locale" content="es_ES"/>
	<meta property="fb:admins" content="luispedraza" />
	<meta property="fb:app_id" content="490761724315971" />
	<!-- twitter cards -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@luispedraza">
	<meta name="twitter:title" content="{{og.title}}">
	<meta name="twitter:description" content="{{og.desc}}">
	<meta name="twitter:creator" content="@luispedraza">
	<meta name="twitter:image:src" content="http://www.gasole.net/img/fb_gasole.png">

	<link type="text/plain" rel="author" href="http://gasole.net/humans.txt" />

	<link rel="apple-touch-icon" href="http://www.gasole.net/img/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="http://www.gasole.net/img/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="http://www.gasole.net/img/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="http://www.gasole.net/img/touch-icon-ipad-retina.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- iPhone -->
    <link href="http://www.gasole.net/img/apple-startup-ihone.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPhone (r) -->
    <link href="http://www.gasole.net/img/apple-startup-ihone.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
    <link href="http://www.gasole.net/img/apple-startup-ihone.png"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad Portrait -->
    <link href="http://www.gasole.net/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPad Landscape -->
    <link href="http://www.gasole.net/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPad Portrait (r) -->
    <link href="http://www.gasole.net/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad Landscape (r) -->
    <link href="http://www.gasole.net/img/apple-startup-ihone.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	{% for css in styles %}
		<link rel="stylesheet" type="text/css" href="{{css}}" />
	{% endfor %}

	<!--[if lte IE 8]><script type="text/javascript" src="/js/_oldIE.js"></script><![endif]-->
	{% for sc in scripts %}
		<script type="text/javascript" src="{{sc}}"></script>
	{% endfor %}
	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-484868-7']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51e7ad7552f63749"></script>

</head>

<body>
<header id="header">
	{% if user %}
	<div id="user">
		<a href="{{user.link}}"><img class="avatar" src="{{user.avatar_url}}"></a>
		<a id="logout" href="/logout">salir</a>
	</div>
	{% endif %}
	<a href="/" id="logo">GasOle.net</a>
	<p>Toda la información sobre gasolinas y otros combustibles</p>
</header>

<nav>
	<ul class="menu clearer">
		<li class="menu home"><a class="item" href="/"><div class="sprt m_home"></div> INICIO</a>
			<div class="m_desc home"><div class="sprt arrow a_home"></div>Volver a la página principal de GasOlé.</div></li>

		<li class="menu stats"><a class="item" href="/graficos"><div class="sprt m_stats"></div> GRÁFICOS</a>
			<div class="m_desc stats"><div class="sprt arrow a_stats"></div>Representaciones gráficas de los precios del combustible y la distribución de gasolineras en España.</div></li>

		<!-- <li class="menu info"><a class="item" href="/info/combustibles"><div class="sprt m_info"></div> INFORMACIÓN</a>
			<div class="m_desc info"><div class="sprt arrow a_info"></div>Algunas notas y apuntes sobre tipos de combustibles e impuestos.</div></li> -->

		<li class="menu news"><a class="item" href="/info/noticias"><div class="sprt m_news"></div> NOTICIAS</a>
			<div class="m_desc news"><div class="sprt arrow a_news"></div>Noticias de actualidad sobre gasolinas, y el mundo de los combustibles en general.</div></li>
			
		<li class="menu about"><a class="item" href="/info/acercade"><div class="sprt m_about"></div> ACERCA DE…</a>
			<div class="m_desc about"><div class="sprt arrow a_cards"></div>Información acerca de GasOle.net, condiciones del servicio y política de privacidad.</div></li>

		<li class="menu search" id="menu-search">
			<div class="item">
				<div class="place">
					<div class="sprt search_icon"></div>
					<form id="search-form">
						<div id="current-loc" class="sprt search_gps"></div>
						<input type="search" id="address" name="address" placeholder="Gran Vía 25, Madrid" />
						<ol id="results-list" class="results"></ol>
					</form>
				</div>
				
				<div class="place" id="destiny">
					<div id="route" class="sprt directions"></div>
					<form id="search-form-dest">
						<div id="current-loc-dest"></div>
						<input type="search" id="address-dest" name="address-dest" disabled="disabled" placeholder="Destino del recorrido" />
						<ol id="results-list-dest" class="results"></ol>
					</form>
				</div>
				<ol id="results-list-dest" class="results"></ol>
				<div class="helper">
					Introduce un lugar de búsqueda: población, provincia, dirección, código postal, hotel, aeropuerto… y pulsa la tecla INTRO.
				</div>
				
				<div id="search-options">
					<div class="my-slider" id="search-d"></div>
					<div class="button" id="search-b">Buscar</div>
				</div><!-- search-options -->
			</div>
		</li>

	</ul>
</nav>


<div id="content" class="clearer">
	{% include content %}
</div>

<footer>
<div class="footer_section about" >
	<h2>Acerca de esta página</h2>
	<a href="http://www.gasole.net">GasOle.net</a> es un desarrollo de <a href="http://www.luispedraza.es">Luis Pedraza</a>
	<div id="followme">
		<!-- AddThis Follow BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_twitter_follow" addthis:userid="luispedraza"></a>
		<a class="addthis_button_linkedin_follow" addthis:userid="luispedraza"></a>
		<a class="addthis_button_google_follow" addthis:userid="102523018458077995158"></a>
		</div>
		<!-- AddThis Follow END -->
	</div>
	<p>Datos obtenidos del <a href="http://geoportal.mityc.es/hidrocarburos/eess/">Geoportal de Hidrocarburos</a> del Ministerio de Industria, Energía y Turismo de España.</p>
	<p>Este sitio <a href="http://localhost:8094/info/acercade#privacy">utiliza cookies</a>.</p>
</div>

<div class="footer_section all_provinces">
	<h2>Listado de todas las provincias</h2>
	<ul>
		<li class="c1"><a title="Todas las gasolineras de Álava" href="http://www.gasole.net/gasolineras/%C3%81lava">Álava</a></li>
		<li class="c1"><a title="Todas las gasolineras de Albacete" href="http://www.gasole.net/gasolineras/Albacete">Albacete</a></li>
		<li class="c1"><a title="Todas las gasolineras de Alicante" href="http://www.gasole.net/gasolineras/Alicante">Alicante</a></li>
		<li class="c1"><a title="Todas las gasolineras de Almería" href="http://www.gasole.net/gasolineras/Almer%C3%ADa">Almería</a></li>
		<li class="c1"><a title="Todas las gasolineras de Asturias" href="http://www.gasole.net/gasolineras/Asturias">Asturias</a></li>
		<li class="c1"><a title="Todas las gasolineras de Ávila" href="http://www.gasole.net/gasolineras/%C3%81vila">Ávila</a></li>
		<li class="c1"><a title="Todas las gasolineras de Badajoz" href="http://www.gasole.net/gasolineras/Badajoz">Badajoz</a></li>
		<li class="c1"><a title="Todas las gasolineras de Illes Balears" href="http://www.gasole.net/gasolineras/Balears_(Illes)">Balears (Illes)</a></li>
		<li class="c1"><a title="Todas las gasolineras de Barcelona" href="http://www.gasole.net/gasolineras/Barcelona">Barcelona</a></li>
		<li class="c2 top"><a title="Todas las gasolineras de Burgos" href="http://www.gasole.net/gasolineras/Burgos">Burgos</a></li>
		<li class="c2"><a title="Todas las gasolineras de Cáceres" href="http://www.gasole.net/gasolineras/C%C3%A1ceres">Cáceres</a></li>
		<li class="c2"><a title="Todas las gasolineras de Cádiz" href="http://www.gasole.net/gasolineras/C%C3%A1diz">Cádiz</a></li>
		<li class="c2"><a title="Todas las gasolineras de Cantabria" href="http://www.gasole.net/gasolineras/Cantabria">Cantabria</a></li>
		<li class="c2"><a title="Todas las gasolineras de Castelló" href="http://www.gasole.net/gasolineras/Castell%C3%B3n_%7C_Castell%C3%B3">Castellón / Castelló</a></li>
		<li class="c2"><a title="Todas las gasolineras de Ceuta" href="http://www.gasole.net/gasolineras/Ceuta">Ceuta</a></li>
		<li class="c2"><a title="Todas las gasolineras de Ciudad Real" href="http://www.gasole.net/gasolineras/Ciudad_Real">Ciudad Real</a></li>
		<li class="c2"><a title="Todas las gasolineras de Córdoba" href="http://www.gasole.net/gasolineras/C%C3%B3rdoba">Córdoba</a></li>
		<li class="c2"><a title="Todas las gasolineras de A Coruña" href="http://www.gasole.net/gasolineras/Coru%C3%B1a_(A)">Coruña (A)</a></li>
		<li class="c3 top"><a title="Todas las gasolineras de Cuenca" href="http://www.gasole.net/gasolineras/Cuenca">Cuenca</a></li>
		<li class="c3"><a title="Todas las gasolineras de Girona" href="http://www.gasole.net/gasolineras/Girona">Girona</a></li>
		<li class="c3"><a title="Todas las gasolineras de Granada" href="http://www.gasole.net/gasolineras/Granada">Granada</a></li>
		<li class="c3"><a title="Todas las gasolineras de Guadalajara" href="http://www.gasole.net/gasolineras/Guadalajara">Guadalajara</a></li>
		<li class="c3"><a title="Todas las gasolineras de Guipúzcoa" href="http://www.gasole.net/gasolineras/Guip%C3%BAzcoa">Guipúzcoa</a></li>
		<li class="c3"><a title="Todas las gasolineras de Huelva" href="http://www.gasole.net/gasolineras/Huelva">Huelva</a></li>
		<li class="c3"><a title="Todas las gasolineras de Huesca" href="http://www.gasole.net/gasolineras/Huesca">Huesca</a></li>
		<li class="c3"><a title="Todas las gasolineras de Jaén" href="http://www.gasole.net/gasolineras/Ja%C3%A9n">Jaén</a></li>
		<li class="c3"><a title="Todas las gasolineras de León" href="http://www.gasole.net/gasolineras/León">León</a></li>
		<li class="c4 top"><a title="Todas las gasolineras de Lleida" href="http://www.gasole.net/gasolineras/Lleida">Lleida</a></li>
		<li class="c4"><a title="Todas las gasolineras de Lugo" href="http://www.gasole.net/gasolineras/Lugo">Lugo</a></li>
		<li class="c4"><a title="Todas las gasolineras de Madrid" href="http://www.gasole.net/gasolineras/Madrid">Madrid</a></li>
		<li class="c4"><a title="Todas las gasolineras de Málaga" href="http://www.gasole.net/gasolineras/M%C3%A1laga">Málaga</a></li>
		<li class="c4"><a title="Todas las gasolineras de Melilla" href="http://www.gasole.net/gasolineras/Melilla">Melilla</a></li>
		<li class="c4"><a title="Todas las gasolineras de Murcia" href="http://www.gasole.net/gasolineras/Murcia">Murcia</a></li>
		<li class="c4"><a title="Todas las gasolineras de Navarra" href="http://www.gasole.net/gasolineras/Navarra">Navarra</a></li>
		<li class="c4"><a title="Todas las gasolineras de Ourense" href="http://www.gasole.net/gasolineras/Ourense">Ourense</a></li>
		<li class="c4"><a title="Todas las gasolineras de Palencia" href="http://www.gasole.net/gasolineras/Palencia">Palencia</a></li>
		<li class="c5 top"><a title="Todas las gasolineras de Las Palmas" href="http://www.gasole.net/gasolineras/Palmas_(Las)">Palmas (Las)</a></li>
		<li class="c5"><a title="Todas las gasolineras de Pontevedra" href="http://www.gasole.net/gasolineras/Pontevedra">Pontevedra</a></li>
		<li class="c5"><a title="Todas las gasolineras de La Rioja" href="http://www.gasole.net/gasolineras/Rioja_(La)">Rioja (La)</a></li>
		<li class="c5"><a title="Todas las gasolineras de Salamanca" href="http://www.gasole.net/gasolineras/Salamanca">Salamanca</a></li>
		<li class="c5"><a title="Todas las gasolineras de Santa Cruz de Tenerife" href="http://www.gasole.net/gasolineras/Santa_Cruz_De_Tenerife">Sta. Cruz de Tenerife</a></li>
		<li class="c5"><a title="Todas las gasolineras de Segovia" href="http://www.gasole.net/gasolineras/Segovia">Segovia</a></li>
		<li class="c5"><a title="Todas las gasolineras de Sevilla" href="http://www.gasole.net/gasolineras/Sevilla">Sevilla</a></li>
		<li class="c5"><a title="Todas las gasolineras de Soria" href="http://www.gasole.net/gasolineras/Soria">Soria</a></li>
		<li class="c5"><a title="Todas las gasolineras de Tarragona" href="http://www.gasole.net/gasolineras/Tarragona">Tarragona</a></li>
		<li class="c6 top"><a title="Todas las gasolineras de Teruel" href="http://www.gasole.net/gasolineras/Teruel">Teruel</a></li>
		<li class="c6"><a title="Todas las gasolineras de Toledo" href="http://www.gasole.net/gasolineras/Toledo">Toledo</a></li>
		<li class="c6"><a title="Todas las gasolineras de València" href="http://www.gasole.net/gasolineras/Valencia_%7C_Val%C3%A8ncia">Valencia / València</a></li>
		<li class="c6"><a title="Todas las gasolineras de Valladolid" href="http://www.gasole.net/gasolineras/Valladolid">Valladolid</a></li>
		<li class="c6"><a title="Todas las gasolineras de Vizcaya" href="http://www.gasole.net/gasolineras/Vizcaya">Vizcaya</a></li>
		<li class="c6"><a title="Todas las gasolineras de Zamora" href="http://www.gasole.net/gasolineras/Zamora">Zamora</a></li>
		<li class="c6"><a title="Todas las gasolineras de Zaragoza" href="http://www.gasole.net/gasolineras/Zaragoza">Zaragoza</a></li>
	</ul>
</div>

</footer>
</body>
</html>