<div id="price-board">
	<div id="station-logo"></div>
	<div id="sec-G95" class="section G95">
		<div class="name">Gasolina 95</div>
		<div id="G95" class="price"></div>
	</div>
	<div id="sec-G98" class="section  G98">
		<div class="name">Gasolina 98</div>
		<div id="G98" class="price"></div>
	</div>
	<div id="sec-GOA" class="section GOA">
		<div class="name">Gasóleo A</div>
		<div id="GOA" class="price"></div>
	</div>
	<div id="sec-NGO" class="section NGO">
		<div class="name">Nuevo Gasóleo A</div>
		<div id="NGO" class="price"></div>
	</div>
	<div id="sec-GOB" class="section GOB">
		<div class="name">Gasóleo B</div>
		<div id="GOB" class="price"></div>
	</div>
	<div id="sec-GOC" class="section GOC">
		<div class="name">Gasóleo C</div>
		<div id="GOC" class="price"></div>
	</div>
	<div id="sec-BIOD" class="section BIOD">
		<div class="name">Biodiésel</div>
		<div id="BIOD" class="price">no disponible</div>
	</div>

	<div id="info">
		<h2>Horario</h2> 	
		<div class="info" id="hours"></div>
		<h2>Valoración media</h2> 	
		<div class="info" id="points">Nadie ha valorado aún este establecimiento. <a href="#comments">¿Quieres hacerlo tú??</a></div>
	</div>


	<div id="ads-detail">
		{% if show_ads %}
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9285487390483271";
		/* gasole detail */
		google_ad_slot = "9453571524";
		google_ad_width = 300;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		{% endif %}
	</div>
</div>

<div id="detail">
	
	<div id="breadcrumb"></div>
	<h1 id="maintitle">Ficha de la {{title}}</h1>
	<div id="social">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
		<a class="addthis_button_linkedin_counter"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<!-- AddThis Button END -->
	</div>
	<div id="detail-info">
		<div id="ads-top">
			{% if show_ads %}
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9285487390483271";
			/* gasole top */
			google_ad_slot = "8520711925";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
			{% endif %}
		</div>
		<div id="map"></div>
		<div id="chart" class="button"><div class="sprt m_stats"></div>&nbsp;Mostrar Gráfico Histórico de Precios</div>
	</div>
</div><!--detail-->

{% if edit_station|count %}
<div id="edit">
	<h1>Edición de la estación</h1>
	<form method="post">
		<label for="email">E-mail: </label><input name="email" value="{{edit_station['email']}}"/><br>
		<label for="web">Página web: </label><input name="web"  value="{{edit_station['link']}}"/><br>
		<label for="phone">Teléfono: </label><input name="phone"  value="{{edit_station['phone']}}"/><br>
		<p>Localización:</p>
		<label for="lat">Latitud: </label><input name="lat"  value="{{edit_station['geopt'].lat}}"/><br>
		<label for="lat">Longitud: </label><input name="lon"  value="{{edit_station['geopt'].lon}}"/><br>
		<input type="hidden" name="edit_station" value="true"/>
		<input type="submit" value="Enviar datos" />
	</form>
</div>
{% endif %}

<div id="comments" class="clearer">
	<div id="comments-old">
		<h2>Todos los comentarios</h2>
		<p id="no-comments">Nadie ha comentado aún sobre esta gasolinera. Si quieres ser ayudar a otros usuarios a conocer mejor este lugar, puedes hacerlo aquí a la izquierda.</p>
		<div id="old_comments"></div>
	</div>

	<div id="comments-new">
	<h2>Tu comentario</h2>
		{% if not user %}
		<div class="clearer">
			<div class="in">Inicia sesión… </div>
			<div id="social-login">
				<a href="/login/facebook"><div class="login sprt logo_fb" title="Identifícate con tu perfil de Facebook"></div></a>
				<a href="/login/twitter"><div class="login sprt logo_tt" title="Identifícate con tu perfil de Twitter"></div></a>
				<a href="/login/google"><div class="login sprt logo_gp" title="Identifícate con tu perfil de Google+"></div></a>
				<a href="/login/foursquare"><div class="login sprt logo_fs" title="Identifícate con tu perfil de Foursquare"></div></a>
			</div>
		</div>
		{% endif %}

	<form id="comment-form" method="POST">
		{% if user %}
		<div id="username" class="clearer logged">
			<a class="logout" href="/logout"></a>
			<img class="avatar" src="{{user.avatar_url}}">
			<p><a id="user-link" href="{{user.link}}"><strong>{{user.name}}</strong></a></p>
			<p>Identificado con tu perfil de {{user.auth_ids[0].split(":")[0]}}</p>
		</div>
		{% else %}
		<div id="username" class="clearer">
			<div>O identifícate para dejar un comentario</div>
			<div id="user-data">
				<div class="section">
					<div class="sprt ic_name"></div><label class="in" for="c_name">NOMBRE<sup>*</sup></label><input type="text" name="c_name" id="c_name" placeholder="ej.: Antonio Ruiz">
					<div id="error_c_name" class="warning">debes indicar tu nombre</div>
				</div>
				
				<div class="section">
					<div class="sprt ic_email"></div><label class="in" for="c_email">E-MAIL<sup>*</sup></label><input type="email" name="c_email" id="c_email" placeholder="ej.: aruiz777@gmail.com">
					<div id="error_c_email" class="warning">debes indicar tu email</div>
					<p class="info">No será mostrado</p>
					
				</div>
			
				<div class="section">
					<div class="sprt ic_link"></div><label class="in" for="c_link">WEB</label><input type="text" name="c_link" id="c_link" placeholder="http://…">
				</div>
			</div>
		</div> <!--username-->
		{% endif %}
		<div id="new_comment">
			<div id="section_points" class="section">
			<div class="sprt ic_points"></div><label class="in">VALORACIÓN<sup>*</sup></label>
			<input type="text" id="c_points" name="c_points" readonly value="">
				<div id="c_points_div"></div>
				<div id="error_c_points_div" class="warning">debes asignar una puntuación</div>
				<div class="sel" id="c_points_text"></div>
			</div>

			<div class="section">
			<div class="sprt ic_content"></div><label class="in" for="c_content">COMENTARIO<sup>*</sup></label>
				<div id="replyto">
					<div id="replyto_cancel" class="button">Cancelar</div>
					<p>En respuesta a:</p>
					<div id="replyto_name"></div>
					<div id="replyto_msg"></div>
					<input type="hidden" id="c_replyto" name="c_replyto">
				</div>
			<textarea id="c_content" name="c_content"></textarea>
			<div id="error_c_content" class="warning">el comentario está vacío</div>
			</div>
			<!-- captcha -->
			<div id="captcha" class="section">
				<div class="sprt ic_captcha"></div>
				<label class="in">CAPTCHA</label><input type="text" id="recaptcha_response_field" name="recaptcha_response_field"/>
				
				<script type="text/javascript">
					var RecaptchaOptions = {lang:'es',theme:'custom',custom_theme_widget:'recaptcha_widget'};
				</script>
				<div id="recaptcha_widget" style="display:none">
					<div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrecto. Inténtalo de nuevo.</div>
					<p class="info recaptcha_only_if_image">Escribe las palabras</p>
					<p class="info recaptcha_only_if_audio">Escribe los números</p>
					<div id="recaptcha_image"></div>
					<div class="button in"><a class="sprt ic_reload" href="javascript:Recaptcha.reload()" title="Recargar el CAPTCHA"></a></div>
					<div class="button in recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')" title="Formato Audio" class="sprt ic_audio"></a></div>
					<div class="button in recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')" title="Formato Imagen" class="sprt ic_image"></a></div>
					<div class="button in"><a href="javascript:Recaptcha.showhelp()" title="Ayuda" class="sprt ic_help"></a></div>
				</div>
				<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lfg290SAAAAAF7lz7UcKF7Sn0KOCQne8TWwqjAF&hl=es">
				</script>
				<noscript>
				<iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lfg290SAAAAAF7lz7UcKF7Sn0KOCQne8TWwqjAF" height="200" width="300" frameborder="0">
				</iframe><br>
				<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
				<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
				</noscript>
			</div>
			<!-- fin captcha -->
			<div class="section">
				<input class="button" type="submit" id="send_comment" value="Enviar">
				<p>Antes de enviar tu comentario, asegúrate de haber rellenado todos los campos obligatorios (*) y haber resuelto el captcha.</p>
			</div>
		</div><!-- new_comment -->
	</form>
	</div><!-- comments-new-->
</div>


