<div id="price_board">
	<div id="logo"></div>
	<div id="sec_G95" class="section T_G95">
		<div class="sec_name">Gasolina 95</div>
		<div id="p_G95" class="price">1,47</div>
	</div>
	<div id="sec_G98" class="section  T_G98">
		<div class="sec_name">Gasolina 98</div>
		<div id="p_G98" class="price">1,47</div>
	</div>
	<div id="sec_GOA" class="section T_GOA">
		<div class="sec_name">Gasóleo A</div>
		<div id="p_GOA" class="price">1,47</div>
	</div>
	<div id="sec_NGO" class="section T_NGO">
		<div class="sec_name">Nuevo Gasóleo A</div>
		<div id="p_NGO" class="price">1,47</div>
	</div>
	<div id="sec_GOB" class="section T_GOB">
		<div class="sec_name">Gasóleo B</div>
		<div id="p_GOB" class="price">1,47</div>
	</div>
	<div id="sec_GOC" class="section T_GOC">
		<div class="sec_name">Gasóleo C</div>
		<div id="p_GOC" class="price">1,47</div>
	</div>
	<div id="sec_BIOD" class="section T_BIOD">
		<div class="sec_name">Biodiésel</div>
		<div id="p_BIOD" class="price">1,47</div>
	</div>

	<div id="ads_detail">
		
	</div>
</div>

<div id="detail">
	<h1>Detalle de la {{title}}</h1>
	<div id="social_share">
	<!-- FB -->
	<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-font="arial"></div>
	</div>
	<!-- TT -->
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Echa un ojo a esta gasolinera en gasole.net" data-lang="es" data-related="luispedraza" data-hashtags="gasolina">Twittear</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<div id="ads_top"></div>



	<div id="detail_info">
		<div id="detail_info_fields">
			<div class="field">Dirección</div> 	<div class="field_value" id="address"></div><br>
			<div class="field">Horario</div> 	<div class="field_value" id="hours"></div><br>
			<div class="field">Valoración media</div> 	<div class="field_value" id="points">Nadie ha valorado aún este establecimiento. <a href="#comments">¿Quieres hacerlo tú??</a></div><br>
		</div>
		<div id="google_map"></div>
		<div id="chart"></div>
	</div>

	

	{% if edit_station|count %}
	<div id="edit">
		<h1>Edición de la estación</h1>
		<form method="post">
			<label for="email">E-mail: </label><input name="email" value="{{edit_station['email']}}"/><br>
			<label for="web">Página web: </label><input name="web"  value="{{edit_station['link']}}"/><br>
			<label for="phone">Teléfono: </label><input name="phone"  value="{{edit_station['phone']}}"/><br>
			<p>Localización:</p>
			<label for="lat">Latitud: </label><input name="lat"  value="{{edit_station['geopt'].lat}}"/><br>
			<label for="lat">Longitud: </label><input name="lon"  value="{{edit_station['geopt'].lon}}"/><br>
			<input type="hidden" name="edit_station" value="true"/>
			<input type="submit" value="Enviar datos" />
		</form>
	</div>
	{% endif %}
	<div id="comments">
		<h1>Opina sobre esta gasolinera</h1>
			{% if error|count %}
			<div class="c_error">
			<p><b>Se han detectado errores en el formulario:</b></p>
			<ul id="error_list">
				{% for e in error %}
				<li>{{error[e]}}</li>
				{% endfor %}
			</ul>
			</div>
			{% endif %}
		
		{% if not user %}
		<div id="user_login">
			<div id="social_login">
				<a href="/login/facebook"><div class="login fb_login" title="Identifícate con tu perfil de Facebook"></div></a>
				<a href="/login/twitter"><div class="login tt_login" title="Identifícate con tu perfil de Twitter"></div></a>
				<a href="/login/google"><div class="login gp_login" title="Identifícate con tu perfil de Google+"></div></a>
				<a href="/login/foursquare"><div class="login fs_login" title="Identifícate con tu perfil de Foursquare"></div></a>
			</div>
		</div>
		{% endif %}


		<form method="post">
			
			{% if user %}
			<img class="avatar" src="{{user.avatar_url}}">
			<p id="username">Estás identificado como <a href="{{user.link}}">{{user.name}}</a></p><p><a href="/logout">cerrar sesión</a></p>
			<input type="hidden" name="c_authid" value="{{user.auth_ids[0]}}"><br>
			<input type="hidden" name="c_name" id="c_name" value="{{user.name}}"><br>
			<input type="hidden" name="c_link" id="c_link" value="{{user.link}}">
			
			{% else %}
			<div id="user_data">
				<div class="section left">
				<label for="c_name" class="c_name">Nombre<sup> *</sup></label><input type="text" name="c_name" id="c_name" value="{{data['c_name']}}" placeholder="ej.: Antonio Ruiz">
				</div>
				<div class="section right">
					<label for="c_email" class="c_email">E-mail<sup> *</sup> (no se mostrará)</label><input type="email" name="c_email" id="c_email" value="{{data['c_email']}}" placeholder="ej.: aruiz777@gmail.com">
				</div>
				<div class="section full">
				<label for="c_link" class="c_link">Enlace</label><input type="text" name="c_link" id="c_link" value="{{data['c_link']}}" placeholder="http://…">
				</div>
			</div>

			{% endif %}
			<div id="new_comment">
				<div class="section left" id="section_title">
				<label for="c_title" class="c_title">Título<sup> *</sup></label><input id="c_title" type="text" name="c_title" value="{{data['c_title']}}" placeholder="Titular del comentario">
				</div>
				<div class="section right" id="section_points">
				<label for="c_points" class="c_points">Valoración<sup> *</sup></label>
					<div id="c_points_div">
						{% if data %}
						<input type="text" id="c_points" name="c_points" readonly value="{{data['c_points']}}">
						{% else %}
						<input type="text" id="c_points" name="c_points" readonly value="¿?">
						{% endif %}
						<div id="c_points_text">selecciona una puntuación</div>
						<div class="star shit" id="star_0"></div>
						<div class="star" id="star_1"></div>
						<div class="star" id="star_2"></div>
						<div class="star" id="star_3"></div>
						<div class="star" id="star_4"></div>
						<div class="star" id="star_5"></div>
						<div class="star" id="star_6"></div>
						<div class="star" id="star_7"></div>
						<div class="star" id="star_8"></div>
						<div class="star" id="star_9"></div>
						<div class="star" id="star_10"></div>
					</div>
				</div>
				<div class="section full">
				<label for="c_content" class="c_content">Comentario<sup> *</sup>
					<div id="replyto">
					<div id="replyto_cancel">Cancelar</div>
					<p>En respuesta a:</p>
					<div id="replyto_name"></div>
					<div id="replyto_msg"></div>
					<input type="hidden" id="c_replyto" name="c_replyto" value="{{data['c_replyto']}}">
					</div>
				</label><textarea id="c_content" name="c_content">{{data['c_content']}}</textarea>
				</div>

				

				<!-- captcha -->
				<div id="captcha">
				<script type="text/javascript">
					var RecaptchaOptions = {lang:'es',theme:'clean'};
				</script>
				<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lfg290SAAAAAF7lz7UcKF7Sn0KOCQne8TWwqjAF&hl=es">
				</script>
				<noscript>
				<iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lfg290SAAAAAF7lz7UcKF7Sn0KOCQne8TWwqjAF" height="200" width="300" frameborder="0">
				</iframe><br>
				<textarea name="recaptcha_challenge_field" rows="2" cols="30"></textarea>
				<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
				</noscript>
				</div>
				<!-- fin captcha -->
				<input type="submit" id="send_comment" value="Enviar">
				<p>Antes de enviar tu comentario, asegúrate de haber rellenado todos los campos obligatorios (*) y haber resuelto el captcha de la izquierda</p>
			</div><!-- new_comment -->
		</form>
		<div id="comments_history">
			<h1>Todas las opiniones sobre esta gasolinera</h1>
			<div id="old_comments"></div>
		</div>
	</div>
</div>

