<h1>Distribución geográfica de gasolineras en España</h1>

<p>A continuación se muestra un mapa de españa que indiva la cantidad de gasolineras y estaciones de servicio que actualmente están aviertas en cada una de las provincias. Haz click en una provincia para tener una visión más detallada de la distribución de estos establecimientos a lo largo y ancho de su geografía.</p>


<div id='mapbox'></div>
<script>
  mapbox.auto('mapbox', 'luispedraza.map-2dnwvree');
</script>

</body>
</html>



<div id="map"></div>