<style>
body {
  background-color: #7e2516;
}
</style>


<div id="content">

	<div id="map-container">
		<label id="exclude" for="hide">Excluir Ceuta, Melilla y Canarias</label><input id="hide" name="hide" type="checkbox" checked="true">
		<div id="openmap"></div>
		<div id="raphael"></div>
	</div>




	<div id="control-container">
	
		<div id="regions">
	
		</div>
		<div id="brands">
	
		</div>
		<div id="options">
	
		</div>

	</div>
	

<canvas id="radar"  width="500px" height="500px" class="chart"></canvas>			<!-- cantidad-area-marca -->

	<canvas id="histogram" width="1000px" height="400px" class="chart"></canvas>				<!-- precio-area-marca -->
	<canvas id="bolas" class="chart"></canvas>		<!-- area-marca-precio-cantidad -->
		




</div> <!--content -->