<div class="publi160x600"></div>
<div id="home">
	<h1>¿Qué es gasole.net?</h1>
	<p>Gasolé es un servicio gratuito que te ayuda a encontrar las gasolineras mejores y más baratas de tu entorno, o próximas a tu recorrido en tus desplazamientos.</p>

	<div class="panel left">
		<h1>Precios del combustible en España</h1>


			<div id="price_board">
				<div>
				<div class="head name">tipo</div>
				<div class="head price">precio medio</div>
				<div class="head price">mínimo</div>
				<div class="head price">máximo</div>
				</div>
				<div id="G95" class="section T_G95">
				<div class="name">Gasolina 95</div>
				<div id="p_G95" class="price">1.47</div>
				<div id="min_G95" class="price">1.47</div>
				<div id="pmax_G95" class="price">1.47</div>
				</div>
				<div id="G98" class="section  T_G98">
				<div class="name">Gasolina 98</div>
				<div id="p_G98" class="price">1.47</div>
				<div id="min_G98" class="price">1.47</div>
				<div id="max_G98" class="price">1.47</div>
				</div>
				<div id="GOA" class="section T_GOA">
				<div class="name">Gasóleo A</div>
				<div id="p_GOA" class="price">1.47</div>
				<div id="min_GOA" class="price">1.47</div>
				<div id="max_GOA" class="price">1.47</div>
				</div>
				<div id="NGO" class="section T_NGO">
				<div class="name">Nuevo Gasóleo A</div>
				<div id="p_NGO" class="price">1.47</div>
				<div id="min_NGO" class="price">1.47</div>
				<div id="max_NGO" class="price">1.47</div>
				</div>
				<div id="GOB" class="section T_GOB">
				<div class="name">Gasóleo B</div>
				<div id="p_GOB" class="price">1.47</div>
				<div id="min_GOB" class="price">1.47</div>
				<div id="max_GOB" class="price">1.47</div>
				</div>
				<div id="GOC" class="section T_GOC">
				<div class="name">Gasóleo C</div>
				<div id="p_GOC" class="price">1.47</div>
				<div id="min_GOC" class="price">1.47</div>
				<div id="max_GOC" class="price">1.47</div>
				</div>
				<div id="BIOD" class="section T_BIOD">
				<div class="name">Biodiésel</div>
				<div id="p_BIOD" class="price">1.47</div>
				<div id="min_BIOD" class="price">1.47</div>
				<div id="max_BIOD" class="price">1.47</div>
				</div>
			</div>


	</div><!-- left -->
	<div class="panel right">
		<h1>Gasolineras por provincia</h1>
		<div id="prov-container"><!-- lista de provincias -->
			<p>Selecciona una provincia del mapa o de la lista: </p>
			<div id="prov-list"><div class="sprt arrow_white"></div>&nbsp;&nbsp;&nbsp;Provincias 
			<ul id="province" class="droplist">
				<li><a title="Todas las gasolineras de Álava" href="/gasolineras/Álava">Álava</a></li>
				<li><a title="Todas las gasolineras de Albacete" href="/gasolineras/Albacete">Albacete</a></li>
				<li><a title="Todas las gasolineras de Alicante" href="/gasolineras/Alicante">Alicante</a></li>
				<li><a title="Todas las gasolineras de Almería" href="/gasolineras/Almería">Almería</a></li>
				<li><a title="Todas las gasolineras de Asturias" href="/gasolineras/Asturias">Asturias</a></li>
				<li><a title="Todas las gasolineras de Ávila" href="/gasolineras/Ávila">Ávila</a></li>
				<li><a title="Todas las gasolineras de Badajoz" href="/gasolineras/Badajoz">Badajoz</a></li>
				<li><a title="Todas las gasolineras de Illes Baleras" href="/gasolineras/Balears_(Illes)">Balears (Illes)</a></li>
				<li><a title="Todas las gasolineras de Barcelona" href="/gasolineras/Barcelona">Barcelona</a></li>
				<li><a title="Todas las gasolineras de Burgos" href="/gasolineras/Burgos">Burgos</a></li>
				<li><a title="Todas las gasolineras de Cáceres" href="/gasolineras/Cáceres">Cáceres</a></li>
				<li><a title="Todas las gasolineras de Cádiz" href="/gasolineras/Cádiz">Cádiz</a></li>
				<li><a title="Todas las gasolineras de Cantabria" href="/gasolineras/Cantabria">Cantabria</a></li>
				<li><a title="Todas las gasolineras de Castelló" href="/gasolineras/Castellón_|_Castelló">Castellón/Castelló</a></li>
				<li><a title="Todas las gasolineras de Ceuta" href="/gasolineras/Ceuta">Ceuta</a></li>
				<li><a title="Todas las gasolineras de Ciudad Real" href="/gasolineras/Ciudad_Real">Ciudad Real</a></li>
				<li><a title="Todas las gasolineras de Córdoba" href="/gasolineras/Córdoba">Córdoba</a></li>
				<li><a title="Todas las gasolineras de A Coruña" href="/gasolineras/Coruña_(A)">Coruña (A)</a></li>
				<li><a title="Todas las gasolineras de Cuenca" href="/gasolineras/Cuenca">Cuenca</a></li>
				<li><a title="Todas las gasolineras de Girona" href="/gasolineras/Girona">Girona</a></li>
				<li><a title="Todas las gasolineras de Granada" href="/gasolineras/Granada">Granada</a></li>
				<li><a title="Todas las gasolineras de Guadalajara" href="/gasolineras/Guadalajara">Guadalajara</a></li>
				<li><a title="Todas las gasolineras de Guipúzcoa" href="/gasolineras/Guipúzcoa">Guipúzcoa</a></li>
				<li><a title="Todas las gasolineras de Huelva" href="/gasolineras/Huelva">Huelva</a></li>
				<li><a title="Todas las gasolineras de Huesca" href="/gasolineras/Huesca">Huesca</a></li>
				<li><a title="Todas las gasolineras de Jaén" href="/gasolineras/Jaén">Jaén</a></li>
				<li><a title="Todas las gasolineras de León" href="/gasolineras/León">León</a></li>
				<li><a title="Todas las gasolineras de Lleida" href="/gasolineras/Lleida">Lleida</a></li>
				<li><a title="Todas las gasolineras de Lugo" href="/gasolineras/Lugo">Lugo</a></li>
				<li><a title="Todas las gasolineras de Madrid" href="/gasolineras/Madrid">Madrid</a></li>
				<li><a title="Todas las gasolineras de Málaga" href="/gasolineras/Málaga">Málaga</a></li>
				<li><a title="Todas las gasolineras de Melilla" href="/gasolineras/Melilla">Melilla</a></li>
				<li><a title="Todas las gasolineras de Murcia" href="/gasolineras/Murcia">Murcia</a></li>
				<li><a title="Todas las gasolineras de Navarra" href="/gasolineras/Navarra">Navarra</a></li>
				<li><a title="Todas las gasolineras de Ourense" href="/gasolineras/Ourense">Ourense</a></li>
				<li><a title="Todas las gasolineras de Palencia" href="/gasolineras/Palencia">Palencia</a></li>
				<li><a title="Todas las gasolineras de Las Palmas" href="/gasolineras/Palmas_(Las)">Palmas, Las</a></li>
				<li><a title="Todas las gasolineras de Pontevedra" href="/gasolineras/Pontevedra">Pontevedra</a></li>
				<li><a title="Todas las gasolineras de La Rioja" href="/gasolineras/Rioja_(La)">Rioja, La</a></li>
				<li><a title="Todas las gasolineras de Salamanca" href="/gasolineras/Salamanca">Salamanca</a></li>
				<li><a title="Todas las gasolineras de Santa Cruz de Tenerife" href="/gasolineras/Santa_Cruz_De_Tenerife">Santa Cruz de Tenerife</a></li>
				<li><a title="Todas las gasolineras de Segovia" href="/gasolineras/Segovia">Segovia</a></li>
				<li><a title="Todas las gasolineras de Sevilla" href="/gasolineras/Sevilla">Sevilla</a></li>
				<li><a title="Todas las gasolineras de Soria" href="/gasolineras/Soria">Soria</a></li>
				<li><a title="Todas las gasolineras de Tarragona" href="/gasolineras/Tarragona">Tarragona</a></li>
				<li><a title="Todas las gasolineras de Teruel" href="/gasolineras/Teruel">Teruel</a></li>
				<li><a title="Todas las gasolineras de Toledo" href="/gasolineras/Toledo">Toledo</a></li>
				<li><a title="Todas las gasolineras de València" href="/gasolineras/Valencia_|_València">Valencia/València</a></li>
				<li><a title="Todas las gasolineras de Valladolid" href="/gasolineras/Valladolid">Valladolid</a></li>
				<li><a title="Todas las gasolineras de Vizcaya" href="/gasolineras/Vizcaya">Vizcaya</a></li>
				<li><a title="Todas las gasolineras de Zamora" href="/gasolineras/Zamora">Zamora</a></li>
				<li><a title="Todas las gasolineras de Zaragoza" href="/gasolineras/Zaragoza">Zaragoza</a></li>
			</ul>
			</div><!--list-->
			<div id="prov-current">Cádiz</div>
		</div><!--container-->

		<div id="map">{{map}}</div>
	</div><!-- right-->
</div><!-- home -->