<div class="publi160x600">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-9285487390483271";
	/* gasole home */
	google_ad_slot = "5724594322";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>

<div id="home">
	<h1>¿Qué es gasole.net?</h1>
	<p>Gasolé es un servicio gratuito que te ayuda a encontrar las gasolineras mejores y más baratas de tu entorno, o próximas a tu recorrido en tus desplazamientos.</p>

	<div class="panel left">
		<h1>Precios del combustible en España</h1>
			<div id="price_board">
				<div>
				<div class="head name">tipo</div>
				<div class="head price">precio medio</div>
				<div class="head price">mínimo</div>
				<div class="head price">máximo</div>
				</div>
				<div id="G95" class="section T_G95">
				<div class="name">Gasolina 95</div>
				<div id="p_G95" class="price"></div>
				<div id="min_G95" class="price"></div>
				<div id="max_G95" class="price"></div>
				</div>
				<div id="G98" class="section  T_G98">
				<div class="name">Gasolina 98</div>
				<div id="p_G98" class="price"></div>
				<div id="min_G98" class="price"></div>
				<div id="max_G98" class="price"></div>
				</div>
				<div id="GOA" class="section T_GOA">
				<div class="name">Gasóleo A</div>
				<div id="p_GOA" class="price"></div>
				<div id="min_GOA" class="price"></div>
				<div id="max_GOA" class="price"></div>
				</div>
				<div id="NGO" class="section T_NGO">
				<div class="name">Nuevo Gasóleo A</div>
				<div id="p_NGO" class="price"></div>
				<div id="min_NGO" class="price"></div>
				<div id="max_NGO" class="price"></div>
				</div>
				<div id="GOB" class="section T_GOB">
				<div class="name">Gasóleo B</div>
				<div id="p_GOB" class="price"></div>
				<div id="min_GOB" class="price"></div>
				<div id="max_GOB" class="price"></div>
				</div>
				<div id="GOC" class="section T_GOC">
				<div class="name">Gasóleo C</div>
				<div id="p_GOC" class="price"></div>
				<div id="min_GOC" class="price"></div>
				<div id="max_GOC" class="price"></div>
				</div>
				<div id="BIOD" class="section T_BIOD">
				<div class="name">Biodiésel</div>
				<div id="p_BIOD" class="price"></div>
				<div id="min_BIOD" class="price"></div>
				<div id="max_BIOD" class="price"></div>
				</div>
			</div>


	</div><!-- left -->
	<div class="panel right">
		<h1>Gasolineras por provincia</h1>
		<div id="prov-container"><!-- lista de provincias -->
			<p>Selecciona una provincia del mapa o de la </p>
			<div id="prov-list"><div class="sprt arrow_white"></div><h2 id="prov-current">lista de provincias</h2>
				<ul id="province" class="droplist"></ul>
			</div><!--prov-list-->
		</div><!--container-->

		<div id="map">{{map}}</div>
	</div><!-- right-->
</div><!-- home -->