<h1>Información sobre combustibles en España</h1>

<h2>¿Qué es la gasolina</h2>
<p>La gasolina es una mezcla de hidrocarburos que se obtiene a partir del petróleo por el proceso de destilación fraccionada. Es empleada como combustible en motores de vehículso, pero también en estufas y algunas lámparas.</p>



<h2>El Gasóleo</h2>

<p>El gasóleo, gasoil o diésel es un líquido compuesto fundamentalmente por parafinas, empleado como combustible en motores diésel y calefacciones. Puede ser obtenido tanto a partir del petróleo, como a partir de aceites vegetales, como veremos más adelante. Su precio es algo inferior al de la gasolina, y su rendimiento algo superior.</p>

<p>En España se comercializan diferentes tipos de gasóleo. El Gasóleo A habitual y el Nuevo Gasóleo A para vehículos, el Gasóleo B para vehículos agrículas —algo más barato al tener menos impuestos—</p>

<h3>El Gasóleo A habitual</h3>

<h3>El Nuevo Gasóleo A</h3>

<h3>El Gasóleo B</h3>
<p>Es el tipo de gasóleo empleado en vehículos agrículas. Se le agrega un colorante rojo para distinguirlo de sus parientes de tipo A</p>
<p>La utilización de Gasóleo B en vehículos no destinados a usos agrículas constituye una infracción que lleva asociada una sanción de 6000 euros y la intervención del vehículo por fraude fiscal.</p>

<h3>El Gasóleo C</h3>
<p>Es el gasóleo empleado en calefacciones. Sólo se suministra mediante pago a través de cuenta bancaria. Su densidad es algo superior a la del resto de gasóleos, y también presenta un color rojizo. Su utilización en vehículos supone una infracción, además de que puyede estropear los inyectores del motor.</p>

<h2>El Biodiesel</h2>

<p>Es un combustible líquido obtenido a partir de algunas grasas naturales, como aceites vegetales o grasas animales, y que se emplea como sustituo del gasóleo ogtenido a partir del petróleo. A  menudo se mezcla con este último en diferentes cantidades.</p>

