<style>
body {
  background-color: #006699;
}
</style>

<div id="textcontent">
	<h1>Noticias sobre gasolinas y otros combustibles en España y en el Mundo</h1>

	<script type="text/javascript" src="http://gasolenews.tumblr.com/js"></script>

	<!-- Primer anuncio -->
	<div class="ads">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9285487390483271";
		/* gasole noticias */
		google_ad_slot = "8168089525";
		google_ad_width = 970;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

	<!-- Segundo Anuncio  -->
	<div class="ads">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9285487390483271";
		/* gasole noticias */
		google_ad_slot = "8168089525";
		google_ad_width = 970;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

	<!-- Tercer Anuncio  -->
	<div class="ads">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9285487390483271";
		/* gasole noticias */
		google_ad_slot = "8168089525";
		google_ad_width = 970;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>



	<script>
	window.addEventListener("load", function() {
		var ads = document.getElementsByClassName("ads");
		var container = document.getElementsByClassName("tumblr_posts")[0];
		var posts = document.getElementsByClassName("tumblr_post");
		for (var p=0,l=posts.length; p<l; p++) {
			if (p==3) container.insertBefore(ads[0], posts[p]);
			if (p==6) container.insertBefore(ads[1], posts[p]);
			if (p==9) container.insertBefore(ads[2], posts[p]);
		}
	});

	</script>
</div>

