<style>
body {
  background-color: #be770e;
}
</style>

<div id="content">
  <h1>Información sobre combustibles en España</h1>

  <h2>¿Qué es la gasolina</h2>
  <p>La gasolina es una mezcla de hidrocarburos que se obtiene a partir del petróleo por el proceso de destilación fraccionada. Es empleada como combustible en motores de vehículso, pero también en estufas y algunas lámparas.</p>



  <h2>El Gasóleo</h2>

  <p>El gasóleo, gasoil o diésel es un líquido compuesto fundamentalmente por parafinas, empleado como combustible en motores diésel y calefacciones. Puede ser obtenido tanto a partir del petróleo, como a partir de aceites vegetales, como veremos más adelante. Su precio es algo inferior al de la gasolina, y su rendimiento algo superior.</p>

  <p>En España se comercializan diferentes tipos de gasóleo. El Gasóleo A habitual y el Nuevo Gasóleo A para vehículos, el Gasóleo B para vehículos agrículas —algo más barato al tener menos impuestos—</p>

  <h3>El Gasóleo A habitual</h3>

  <h3>El Nuevo Gasóleo A</h3>

  <h3>El Gasóleo B</h3>
  <p>Es el tipo de gasóleo empleado en vehículos agrículas. Se le agrega un colorante rojo para distinguirlo de sus parientes de tipo A</p>
  <p>La utilización de Gasóleo B en vehículos no destinados a usos agrículas constituye una infracción que lleva asociada una sanción de 6000 euros y la intervención del vehículo por fraude fiscal.</p>

  <h3>El Gasóleo C</h3>
  <p>Es el gasóleo empleado en calefacciones. Sólo se suministra mediante pago a través de cuenta bancaria. Su densidad es algo superior a la del resto de gasóleos, y también presenta un color rojizo. Su utilización en vehículos supone una infracción, además de que puyede estropear los inyectores del motor.</p>

  <h2>El Biodiesel</h2>

  <p>Es un combustible líquido obtenido a partir de algunas grasas naturales, como aceites vegetales o grasas animales, y que se emplea como sustituo del gasóleo ogtenido a partir del petróleo. A  menudo se mezcla con este último en diferentes cantidades.</p>


  <h1>Impuestos sobre los hidrocarburos</h1>

  Los impuestos sobre combustibles hidrocarburos pertenecen a la categoría de <a href="http://www.fiscal-impuestos.com/los-impuestos-especiales-de-fabricacion-naturaleza-y-elementos-estructurales.hmtl">impuestos especiales</a> (ACCISAS en terminología comunitaria) que gravan consumos específicos y tienen la doble vertienente de contribuir a la recaudación y servir como instrumento de control de la política energética.

  Tipos impositivos exigibles para cada producto en cada Estado
  http://www.agenciatributaria.es/static_files/AEAT/Aduanas/Contenidos_Privados/Impuestos_especiales/Tipos_Impositivos_exigibles_para_cada_producto_en_cada_Estado/II-Energy_January2013_final.pdf

  Cálculo del volumen de hidrocarburos a 15º
  http://www.agenciatributaria.es/AEAT.internet/Inicio_es_ES/Aduanas_e_Impuestos_Especiales/Impuestos_Especiales/Calculo_del_volumen_de_hidrocarburos_a_15_/Calculo_del_volumen_de_hidrocarburos_a_15_.shtml

  Gasóleo Profesional, devoluciones
  http://www.agenciatributaria.es/AEAT.internet/Inicio_es_ES/Aduanas_e_Impuestos_Especiales/Impuestos_Especiales/Gasoleo_Profesional/Gasoleo_Profesional.shtml

  Devolución parcial por adquisicione 
  http://www.agenciatributaria.es/AEAT.internet/Inicio_es_ES/Aduanas_e_Impuestos_Especiales/Impuestos_Especiales/Gasoleo_Agricola/Devolucion_parcial_por_adquisiciones_a_partir_de_2009/Devolucion_parcial_por_adquisiciones_a_partir_de_2009.shtml

  Estudios relativos 
  http://www.agenciatributaria.es/AEAT.internet/Inicio_es_ES/Aduanas_e_Impuestos_Especiales/Impuestos_Especiales/Impuestos_Especiales.shtml




  Tabla de tipos IVMDH publicada por la Agencia Tributaria (<a href="http://www.agenciatributaria.es/static_files/AEAT/Aduanas/Contenidos_Privados/Impuestos_especiales/TIPOSIVMDH.pdf">pdf</a>):

  <table width="800" border="1">
    <tr>
      <th scope="col">Fecha: noviembre de 2012</th>
      <th scope="col">Gasolina</th>
      <th scope="col">Gasóleo uso general</th>
      <th scope="col">Gasóleos especiales y de calefacción</th>
    </tr>
    <tr>
      <th scope="row">Estatal</th>
      <td>24</td>
      <td>24</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">Autonómicos</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">Andalucía</th>
      <td>48 <sup>(1)</sup></td>
      <td>48 <sup>(1)</sup></td>
      <td>6 <sup>(1)</sup></td>
    </tr>
    <tr>
      <th scope="row">Aragón</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row">Asturias</th>
      <td>24</td>
      <td>20</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">Baleares</th>
      <td>48 <sup>(2)</sup></td>
      <td>48 <sup>(2)</sup></td>
      <td>0 <sup>(2)</sup></td>
    </tr>
    <tr>
      <th scope="row">Cantabria</th>
      <td>48 <sup>(3)</sup></td>
      <td>48 <sup>(3)</sup></td>
      <td>0 <sup>(3)</sup></td>
    </tr>
    <tr>
      <th scope="row">Castilla la Mancha</th>
      <td>48 <sup>(4)</sup></td>
      <td>48 <sup>(4)</sup></td>
      <td>4 <sup>(4)</sup></td>
    </tr>
    <tr>
      <th scope="row">Castilla y León</th>
      <td>48 <sup>(5)</sup></td>
      <td>48 <sup>(5)</sup></td>
      <td>0 <sup>(5)</sup></td>
    </tr>
    <tr>
      <th scope="row">Cataluña</th>
      <td>48 <sup>(6)</sup></td>
      <td>48 <sup>(6)</sup></td>
      <td>6 <sup>(6)</sup></td>
    </tr>
    <tr>
      <th scope="row">Extremadura</th>
      <td>48 <sup>(7)</sup></td>
      <td>48 <sup>(7)</sup></td>
      <td>0 <sup>(7)</sup></td>
    </tr>
    <tr>
      <th scope="row">Galicia</th>
      <td>24</td>
      <td>12</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row">Madrid</th>
      <td>17</td>
      <td>17</td>
      <td>4,25</td>
    </tr>
    <tr>
      <th scope="row">Murcia</th>
      <td>48 <sup>(8)</sup></td>
      <td>48 <sup>(8)</sup></td>
      <td>6 <sup>(8)</sup></td>
    </tr>
    <tr>
      <th scope="row">Navarra</th>
      <td>24 <sup>(9)</sup></td>
      <td>24 <sup>(9)</sup></td>
      <td>6 <sup>(9)</sup></td>
    </tr>
    <tr>
      <th scope="row">Rioja</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row">Valencia</th>
      <td>48 <sup>(10)</sup></td>
      <td>48 <sup>(10)</sup></td>
      <td>0 <sup>(10)</sup></td>
    </tr>
  </table>
  <p><sup>(1)</sup> Desde  el 23 de junio de 2012. Decreto-Ley 1/2012, de 19 de junio <sup>(BOJA nº 122)</sup>. Artículo 2, Apartado Cinco y Disposición Final Segunda. <a href="http://www.juntadeandalucia.es/eboja/2012/122/BOJA12-122-00014-11216-01_00009593.pdf" target="_blank">[pdf</a>]</p>
  <p><sup>(2)</sup> Desde el  1 de mayo de 2012. Decreto Ley 4/2012, de 30 de marzo <sup>(BOIB nº 47)</sup>. Artículo 3 y Disposición transitoria única. Norma transitoria 1. [<a href="http://www.boe.es/ccaa/boib/2012/047/i00026-00028.pdf" target="_blank">pdf</a>]</p>
  <p><sup>(3)</sup> Desde el 2 de junio de 2012. Ley de Cantabria 2/2012, de 30 de mayo <sup>(BOC de 01/06/2012)</sup> Artículos 19 y 20 y Disposición Final Tercera. [<a href="http://www.agenciacantabratributaria.es/c/document_library/get_file?uuid=bb0cae9b-d298-4e13-8dae-45719ccc188e&amp;groupId=10136" target="_blank">pdf</a>]</p>
  <p><sup>(4)</sup> Desde el 1 de mayo de 2012. Ley 2/2012 de 19 de abril <sup>(DOCM nº 84)</sup>, Artículo 16,16 bis y Disposición Final Única. [<a href="http://www.boe.es/boe/dias/2012/08/13/pdfs/BOE-A-2012-10757.pdf" target="_blank">pdf</a>]</p>
  <p><sup>(5)</sup> Desde el 1 de marzo de 2012. Ley 1/2012, de 28 de febrero <sup>(BOCL de 29.02.2012)</sup>. Artículo 6 y disposición final vigésima séptima. [<a href="http://bocyl.jcyl.es/boletines/2012/02/29/pdf/BOCYL-D-29022012-1.pdf" target="_blank">pdf</a>]</p>
  <p><sup>(6)</sup> Desde el 1 de abril de 2012. Ley 5/2012, de 20 de marzo <sup>(DOGC nº 6094)</sup>. Artículo 66. [<a href="http://www15.gencat.cat/ecofin_wpres12/pdf/MFF_CAS.pdf" target="_blank">pdf</a>]</p>
  <p><sup>(7)</sup> Desde el 29 de junio de 2012. Ley 2/2012, de 28 de junio de 2012 <sup>(DOE 29.06.2012)</sup>. Artículo 16. [<a href="http://doe.juntaex.es/pdfs/doe/2012/1250o/12010002.pdf" target="_blank">pdf</a>]</p>
  <p><sup>(8)</sup> Desde el 1 de noviembre de 2012. Ley 8/2012 de 26 de octubre <sup>(BORM de 31.10.12)</sup> Artículo Único y Disposición Final [<a href="http://www.borm.es/borm/documento?obj=anu&amp;id=553151" target="_blank">pdf</a>]</p>
  <p><sup>(9)</sup> Desde el  1 de julio de 2012. Ley Foral 10/2012, de 15 de junio. Artículo primero. [<a href="http://www.boe.es/boe/dias/2012/07/02/pdfs/BOE-A-2012-8784.pdf" target="_blank">pdf</a>]</p>
  <p><sup>(10)</sup> Desde el 10 de enero de 2012. Decreto Ley 1/2012, de 5 de enero <sup>(DOCV nº 6688)</sup>. Artículo 19 y Disposición final Duodécima. [<a href="http://www.docv.gva.es/datos/2012/01/10/pdf/2012_210.pdf" target="_blank">pdf</a>]</p>

</div> <!--content -->