<h1>Información sobre combustibles en España</h1>

<h2>¿Qué es la gasolina</h2>
<p>La gasolina es una mezcla de hidrocarburos que se obtiene a partir del petróleo por el proceso de destilación fraccionada. Es empleada como combustible en motores de vehículso, pero también en estufas y algunas lámparas.</p>

<h2>El Biodiesel</h2>

<p>Es un combustible líquido obtenido a partir de algunas grasas naturales, como aceites vegetales o grasas animales, y que se emplea como sustituo del gasóleo ogtenido a partir del petróleo. A  menudo se mezcla con este último en diferentes cantidades.</p>
