<div id="list">
	<div id="ads-top">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9285487390483271";
		/* gasole top */
		google_ad_slot = "8520711925";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div> <!-- ads top -->

<h1 id="title"></h1>

<div id="control">
<ul id="control_items">
	<li id="c_info" class="c_item on" title="Resumen de los resultados">Resumen</li>
	<li id="c_cities" class="c_item" title="Todas las ciudades">Ciudades</li>
	<li id="c_types" class="c_item" title="Filtro de combustible">Combustibles</li>
	<li id="c_filter" class="c_item" title="Búsqueda de texto">Filtro</li>
	<li id="c_distance" class="c_item" title="Distancia a un punto">Distancia</li>
</ul> <!-- control_items -->
	<div id="info" class="c_content on"></div>
	<div id="types" class="c_content">
		<p>Elige los tipos de combustible que quieres mostrar:</p>
		<ul id="fuel_type">
			<li class="T_G95 on" title="Gasolina 95">Gasolina 95: G95</li>
			<li class="T_G98 on" title="Gasolina 98">Gasolina 98: G98</li>
			<li class="T_GOA on" title="Gasóleo A">Gasóleo A: GOA</li>
			<li class="T_NGO on" title="Nuevo Gasóleo">Nuevo Gasóleo A: NGO</li>
			<li class="T_GOB on" title="Gasóleo B">Gasóleo B: GOB</li>
			<li class="T_GOC on" title="Gasóleo C">Gasóleo C: GOC</li>
			<li class="T_BIOD on" title="Biodiésel">Biodiésel: BIOD</li>
		</ul>
	</div>
	<div id="cities" class="c_content">
		<p>Todas las ciudades de esta provincia: 
			<span id="c_A" onclick="javascript:filterCities('c_A')" class="filter">A-C</span>
			<span id="c_D" onclick="javascript:filterCities('c_D')" class="filter">D-L</span>
			<span id="c_N" onclick="javascript:filterCities('c_N')" class="filter">N-Q</span>
			<span id="c_S" onclick="javascript:filterCities('c_S')" class="filter">S-Z</span></p>
		<ul id="cities_list"></ul>
	</div>
	<div id="filter" class="c_content">
		<p>Refina la búsqueda introduciendo un texto para filtrar los resultados obtenidos:</p>
		<input id="contains" type="text" />
	</div>
	<div id="distance" class="c_content">
		<p>Encuentra las gasolineras más cercanas a una dirección:</p>
		<form action="javascript:newDistance()">
		<input id="from" type="text" placeholder="Ej.: Gran Vía 27, o Parque de Atracciones…" />
		<p id="distante_info"></p>
		</form>
	</div>
</div> <!-- control -->


<div id="table">
	<table>
	<thead>
	<tr>
		<th class="T_LOC"><div class="sort"></div>Localidad</th>
		<th class="T_ADDR"><div class="sort"></div>Dirección</th>
		<th class="T_DIST" isfloat="true"><div class="sort"></div>Distancia</th>
		<th class="T_G95 on" isfloat="true"><div class="sort"></div>G95</th>
		<th class="T_G98 on" isfloat="true"><div class="sort"></div>G98</th>
		<th class="T_GOA on" isfloat="true"><div class="sort"></div>GOA</th>
		<th class="T_NGO on" isfloat="true"><div class="sort"></div>NGO</th>
		<th class="T_GOB on" isfloat="true"><div class="sort"></div>GOB</th>
		<th class="T_GOC on" isfloat="true"><div class="sort"></div>GOC</th>
		<th class="T_BIOD on" isfloat="true"><div class="sort"></div>BIOD</th>
	</tr>
	</thead>
	<tbody id="table_data">

	</tbody>
	</table>
</div> <!-- #table -->

<div id="pager">
	<div id="pager_less"><a href="javascript:paginateTable('less')"><img src="/img/less.svg"/></a></div>
	<div id="pager_more"><a href="javascript:paginateTable('more')"><img src="/img/more.svg"></a></div>
	<div id="pager_links"></div>
	
</div><!-- pager -->

</div> <!-- #list -->

<div id="zoom_google_map">+ Ampliar el mapa</div>
<div id="google_map"></div>
<div id="ads"></div>

