<div id="list">
	<h1 id="title"></h1>
	<table id="table">
	<thead>
	<tr>
		<th>Localidad</th>
		<th>Dirección</th>
		<th class="T_G95">G95</th>
		<th class="T_G98">G98</th>
		<th class="T_GOA">GOA</th>
		<th class="T_NGO">NGO</th>
		<th class="T_GOB">GOB</th>
		<th class="T_GOC">GOC</th>
		<th class="T_BIOD">BIOD</th>
	</tr>
	</thead>
	<tbody>

	</tbody>
	</table>
</div>
<div id="filters">
	<ul id="fuel_type">
		<li class="T_G95" title="Gasolina 95">G95</li>
		<li class="T_G98" title="Gasolina 98">G98</li>
		<li class="T_GOA" title="Gasóleo A">GOA</li>
		<li class="T_NGO" title="Nuevo Gasóleo">NGO</li>
		<li class="T_GOB" title="Gasóleo B">GOB</li>
		<li class="T_GOC" title="Gasóleo C">GOC</li>
		<li class="T_BIOD" title="Biodiésel">BIOD</li>
	</ul>
	<input id="contains" type="text">

</div>
<div id="google_map"></div>
<div id="ads"></div>

