<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Actualización de datos:</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>


<body>

<form method="post">
	<table id="data-selector">
		<tr>
			<td><label for="option">Tipo de combustible: </label></td><td>
								<select name="option" id="option">
								{% for o in options|sort %}
								<option value="{{o}}">{{options[o]["name"]}}</option>
								{% endfor %}
								</select></td>
		</tr><tr>
			<td><label for="prov">Provincia: </label></td><td>
								<select name="prov" id="prov">
								{% for p in provs|sort %}
								<option value="{{p}}">{{provs[p]}}</option>
								{% endfor %}
								</select></td>
		</tr>
		<tr><td><label for="updatedb">Actualizar la Base de Datos</label></td>
			<td><input type="checkbox" id="updatedb" name="updatedb">
		</tr>
		<tr><td></td><td><input type="submit" value="Obtener datos"></td></tr>

	</table>
</form>

{% if search_data %}
<div id="search-data">
	<h2>Datos encontrados: {{search_data["option"]}} en {{search_data["prov"]}} ({{search_data["day"]}}/{{search_data["month"]}}/{{search_data["year"]}})</h2>
	<img src={{static_map}} />
	<table>
	<tr>
		<th>#</th>
		{% for h in search_data["headers"] %}
		<th>{{h}}</th>
		{% endfor %}
	</tr>
	{% for data in search_data["data"] %}
	<tr>
		<td>{{loop.index}}</td>
		{% for d in data %}
		<td>{{d}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>
{% else %}
<h2>No hay datos que mostrar</h2
{% endif %}
</body>
</html>