<h1>Buscador de Gasolineras</h1>
<div id="search_form">
	<h2>Búsqueda Directa</h2>
	<div class="wrapper">
	<form action="javascript:geoCode()">
		<input type="text" id="address" name="address" placeholder="Dirección, ciudad, provincia…" />
		<button type="submit" id="search" value="Buscar"><img src="/icon/search_icon.png" title="¡Buscar!"/></button>
	</form>
	</div>
	
	<ol id="results"></ol>




</div>

			<ul id="province" class="droplist">
			<li><a title="Todas las gasolineras de Álava" href="/gasolineras/Álava">Álava</a></li>
			<li><a title="Todas las gasolineras de Albacete" href="/gasolineras/Albacete">Albacete</a></li>
			<li><a title="Todas las gasolineras de Alicante" href="/gasolineras/Alicante">Alicante</a></li>
			<li><a title="Todas las gasolineras de Almería" href="/gasolineras/Almería">Almería</a></li>
			<li><a title="Todas las gasolineras de Asturias" href="/gasolineras/Asturias">Asturias</a></li>
			<li><a title="Todas las gasolineras de Ávila" href="/gasolineras/Ávila">Ávila</a></li>
			<li><a title="Todas las gasolineras de Badajoz" href="/gasolineras/Badajoz">Badajoz</a></li>
			<li><a title="Todas las gasolineras de Illes Baleras" href="/gasolineras/Balears_(Illes)">Balears (Illes)</a></li>
			<li><a title="Todas las gasolineras de Barcelona" href="/gasolineras/Barcelona">Barcelona</a></li>
			<li><a title="Todas las gasolineras de Burgos" href="/gasolineras/Burgos">Burgos</a></li>
			<li><a title="Todas las gasolineras de Cáceres" href="/gasolineras/Cáceres">Cáceres</a></li>
			<li><a title="Todas las gasolineras de Cádiz" href="/gasolineras/Cádiz">Cádiz</a></li>
			<li><a title="Todas las gasolineras de Cantabria" href="/gasolineras/Cantabria">Cantabria</a></li>
			<li><a title="Todas las gasolineras de Castelló" href="/gasolineras/Castellón_|_Castelló">Castellón/Castelló</a></li>
			<li><a title="Todas las gasolineras de Ceuta" href="/gasolineras/Ceuta">Ceuta</a></li>
			<li><a title="Todas las gasolineras de Ciudad Real" href="/gasolineras/Ciudad_Real">Ciudad Real</a></li>
			<li><a title="Todas las gasolineras de Córdoba" href="/gasolineras/Córdoba">Córdoba</a></li>
			<li><a title="Todas las gasolineras de A Coruña" href="/gasolineras/Coruña_(A)">Coruña (A)</a></li>
			<li><a title="Todas las gasolineras de Cuenca" href="/gasolineras/Cuenca">Cuenca</a></li>
			<li><a title="Todas las gasolineras de Girona" href="/gasolineras/Girona">Girona</a></li>
			<li><a title="Todas las gasolineras de Granada" href="/gasolineras/Granada">Granada</a></li>
			<li><a title="Todas las gasolineras de Guadalajara" href="/gasolineras/Guadalajara">Guadalajara</a></li>
			<li><a title="Todas las gasolineras de Guipúzcoa" href="/gasolineras/Guipúzcoa">Guipúzcoa</a></li>
			<li><a title="Todas las gasolineras de Huelva" href="/gasolineras/Huelva">Huelva</a></li>
			<li><a title="Todas las gasolineras de Huesca" href="/gasolineras/Huesca">Huesca</a></li>
			<li><a title="Todas las gasolineras de Jaén" href="/gasolineras/Jaén">Jaén</a></li>
			<li><a title="Todas las gasolineras de León" href="/gasolineras/León">León</a></li>
			<li><a title="Todas las gasolineras de Lleida" href="/gasolineras/Lleida">Lleida</a></li>
			<li><a title="Todas las gasolineras de Lugo" href="/gasolineras/Lugo">Lugo</a></li>
			<li><a title="Todas las gasolineras de Madrid" href="/gasolineras/Madrid">Madrid</a></li>
			<li><a title="Todas las gasolineras de Málaga" href="/gasolineras/Málaga">Málaga</a></li>
			<li><a title="Todas las gasolineras de Melilla" href="/gasolineras/Melilla">Melilla</a></li>
			<li><a title="Todas las gasolineras de Murcia" href="/gasolineras/Murcia">Murcia</a></li>
			<li><a title="Todas las gasolineras de Navarra" href="/gasolineras/Navarra">Navarra</a></li>
			<li><a title="Todas las gasolineras de Ourense" href="/gasolineras/Ourense">Ourense</a></li>
			<li><a title="Todas las gasolineras de Palencia" href="/gasolineras/Palencia">Palencia</a></li>
			<li><a title="Todas las gasolineras de Las Palmas" href="/gasolineras/Palmas_(Las)">Palmas, Las</a></li>
			<li><a title="Todas las gasolineras de Pontevedra" href="/gasolineras/Pontevedra">Pontevedra</a></li>
			<li><a title="Todas las gasolineras de La Rioja" href="/gasolineras/Rioja_(La)">Rioja, La</a></li>
			<li><a title="Todas las gasolineras de Salamanca" href="/gasolineras/Salamanca">Salamanca</a></li>
			<li><a title="Todas las gasolineras de Santa Cruz de Tenerife" href="/gasolineras/Santa_Cruz_De_Tenerife">Santa Cruz de Tenerife</a></li>
			<li><a title="Todas las gasolineras de Segovia" href="/gasolineras/Segovia">Segovia</a></li>
			<li><a title="Todas las gasolineras de Sevilla" href="/gasolineras/Sevilla">Sevilla</a></li>
			<li><a title="Todas las gasolineras de Soria" href="/gasolineras/Soria">Soria</a></li>
			<li><a title="Todas las gasolineras de Tarragona" href="/gasolineras/Tarragona">Tarragona</a></li>
			<li><a title="Todas las gasolineras de Teruel" href="/gasolineras/Teruel">Teruel</a></li>
			<li><a title="Todas las gasolineras de Toledo" href="/gasolineras/Toledo">Toledo</a></li>
			<li><a title="Todas las gasolineras de València" href="/gasolineras/Valencia_|_València">Valencia/València</a></li>
			<li><a title="Todas las gasolineras de Valladolid" href="/gasolineras/Valladolid">Valladolid</a></li>
			<li><a title="Todas las gasolineras de Vizcaya" href="/gasolineras/Vizcaya">Vizcaya</a></li>
			<li><a title="Todas las gasolineras de Zamora" href="/gasolineras/Zamora">Zamora</a></li>
			<li><a title="Todas las gasolineras de Zaragoza" href="/gasolineras/Zaragoza">Zaragoza</a></li>
</ul>

<div id="map">{{map}}</div>